/* ARIENT css */

nav.navbar.bootsnav ul.nav > li > a:hover, nav.navbar.bootsnav ul.nav > li > a:focus, nav.navbar.bootsnav ul.nav > li.active > a, nav.navbar.bootsnav ul.nav > li.dropdown> .dropdown-toggle:hover, nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle, nav.navbar.bootsnav ul.nav > li.dropdown.on > a{
  color:#48c7ec !important;
}

nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover{
  color:#fff !important;
  background:#000;
}

.btn_common:before{
  background:#000 !important;
  border: 1px solid #000 !important;
  border-radius: 4px !important;
}

#xsearch .close{
  background: #48c7ec !important;
  border-color:#48c7ec !important; 
}

.blue{
  background: #000;
}

.yellow, .btn_common.blue:hover:before, .btn_common.blue:focus:before, .btn_border:hover::before, .btn_border:focus::before, .btn_border:hover, .btn-dark:hover::before, .btn-dark:focus::before, .btn-dark:hover, .white_border:hover::before, .white_border:focus::before{
  background: #48c7ec !important;
  border-color: #48c7ec !important; 
}

.heading .divider-left, .heading .divider-center{
  background: #48c7ec;
}

.icon_box:nth-child(2n+1):hover{
  background: #000;
}

.icon_box:nth-child(2n+1) i{
  color: #000;
}

#counter .number-counters .counters-item i{
  color: #48c7ec;
}

.overlay .opens{
  background: #48c7ec !important;  
}

#review_slider h4{
  color: #48c7ec !important;  
}

#review_slider .owl-page span, #text_rotator .owl-page span{
  background: #000;
}

#review_slider .owl-page span:after, #text_rotator .owl-page span:after{
  background: #48c7ec;  
}

.pricing_item.active:hover, .pricing_item:hover{
  border-color: #48c7ec;   
}

.pricing .pricing_item{
  border-top: 3px solid #48c7ec;
}

.pricing_item.active{
  border-top: 3px solid #000;
}

.pricing_item .btn_border{
  border-color: #48c7ec;
}

.pricing_list li:before{
  color: #48c7ec;
}

.owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-buttons div:focus, #expert_slider.owl-theme .owl-controls .owl-buttons div{
  background: #48c7ec;
  border: 1px solid #48c7ec; 
}

#expert_slider.owl-theme .owl-controls .owl-buttons div:hover, #expert_slider.owl-theme .owl-controls .owl-buttons div:focus{
  background: #000;
  border: 1px solid #000;   
}

.color{
  color: #48c7ec;
}

.footer_panel .divider-left{
    background: #fff;
}

#rev_slider_video .white_border:hover::before, #rev_slider_video .white_border:focus::before, #rev_slider_video .white_border:hover{
  background: #48c7ec !important;
  border: 1px solid #48c7ec !important;
}

.white_border:hover, .white_border:focus{
  border: 1px solid #48c7ec;
}

.cbp-l-filters .cbp-filter-item.cbp-filter-item-active, .cbp-l-filters .cbp-filter-item:hover, .cbp-l-filters .cbp-filter-item:focus{
  color:#48c7ec;
}

.scrollToTop{
  background:#48c7ec; 
}

.scrollToTop:hover{
  background: #000;
}

.tparrows{
  background:#48c7ec !important; 
}

.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover, .tparrows.tp-leftarrow:focus, .tparrows.tp-rightarrow:focus{
  background: #000 !important;  
}

.events:hover h4 a, .news_box:hover h4 a, .course:hover h3 > a, #expert_slider .item:hover h3 a{
  color: #48c7ec !important;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover, nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:focus{
  color: #48c7ec !important;  
}

#history .history_wrap h3 > span{
  color:#48c7ec;
}

.team .post{
  background: #000 !important;
}

.testimonial_wrap .testimonial_text{
  background: #000 !important;
}

.testimonial_wrap .testimonial_text::after{
  border-top: 25px solid #000 !important;
}

ul.comment li a > i{
  color: #000 !important;
}

.woocommerce #respond input#submit, .woocommerce a.button{
  background-color: #48c7ec !important;
}

.add_to_cart_button:before, .post-type-archive-product.woocommerce a.added_to_cart:before{
  background: #000 !important;
  border: 1px solid #000 !important;
  border-radius: 4px; 
}

.shopping_box:hover a.title_link{
  color: #48c7ec !important;
}

span.price{
  color: #48c7ec !important;
}

.woocommerce div.product form.cart .button{
  background: #48c7ec !important;
  border-color: #48c7ec !important;
  border-radius: 4px;  
}

.woocommerce div.product form.cart .button:before{
  background: #000 !important;
  border: 1px solid #000 !important;
  border-radius: 4px !important;  
}

.shopping_box .shop_content .price_product, .shop_info .price_product, .cart_table .price_product{
  color: #48c7ec !important;  
}

.share ul > li a:hover, .share ul > li a:focus{
  color: #48c7ec !important;  
}

.woocommerce .woocommerce-tabs .nav-tabs>li.active>a, .woocommerce .woocommerce-tabs .nav-tabs>li.active>a:focus, .woocommerce .woocommerce-tabs .nav-tabs>li.active>a:hover{
  color: #48c7ec !important;    
}

.woocommerce-tabs .nav>li>a:focus, .woocommerce-tabs .nav>li>a:hover{
  color: #48c7ec !important;    
}

.comment-reply-title:before{
  background-color: #48c7ec !important;
}

.woocommerce-message{
  border-top-color: #48c7ec !important;
}

.woocommerce-message::before{
  color: #48c7ec !important;
}

.woocommerce-cart-form .coupon input.button{
  background: #000 !important;
}

.woocommerce-cart-form .coupon input.button:hover, .woocommerce-cart-form .coupon input.button:focus{
  background: #48c7ec !important;
  border-color: #48c7ec !important;  
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color: #48c7ec !important;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background-color: #000 !important;
}

.woocommerce-info{
  border-top-color: #48c7ec !important;
}

.woocommerce-info::before{
  color: #48c7ec !important;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
  border-color: #48c7ec !important;
}

#about .priorty .about-post a, .contact_address .address .icon{
  background: #000 !important;
}

.contact_address .address.second .icon{
  background: #48c7ec !important;
}

.intro-text i.fa.fa-check-square{
  color: #48c7ec !important;
}

.readmore:hover, .readmore:focus, .commment li a:hover, .commment li a:focus{
  color: #48c7ec !important; 
}

.commment li a > i{
  color: #000 !important;  
}

#blog .blog_newest .post_title:hover{
 color: #48c7ec !important;  
}

.sidebar .widget_meta a:hover{
 color: #48c7ec !important;   
}

.sidebar .widget_categories ul li a:hover{
  color: #48c7ec !important;   
}

.sidebar .widget_archive li a:hover{
  color: #48c7ec !important;   
}

.sidebar .widget_archive li a p:hover{
  color: #48c7ec !important;    
}

.profile_text strong{
 color: #48c7ec !important;      
}

.faq_content .items > li > a:hover, .faq_content .items > li > a.expanded{
  background: #000 !important;   
}

.faq_content .items > li > a.expanded:after, .faq_content .items > li > a:hover::after{
  background: #48c7ec !important;      
  border-color: #48c7ec !important;      
}

.newsletter-col h3 span{
  color: #48c7ec !important;
}

.newsletter-col .input-group input[type="submit"]{
  background: #48c7ec;
}

span.dropdown-toggle:hover {
  background: #000;
}

span.dropdown-toggle {
  right: 0;
  float: right;
  position: absolute;
  top: 5px;
  font-size: 16px;
  padding: 2px 8px;
  background: #48c7ec;
  cursor: pointer;
  color: #fff;
  transition: .3s;
  border-radius: 3px;
}

footer{
  background: #0f1923;
}

.container2 .circle1, .container2 .circle2, .container2 .circle3, .container2 .circle4{
  border-color: #48c7ec !important;
}

.container1 > div, .container2 > div, .container3 > div{
  border-color: #000 !important;
}