.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    width: 100%;
}
.padding h1.page-title {
    display: none;
}
.padding .woocommerce-result-count {
    padding: 0 15px;
}
.woocommerce .woocommerce-ordering, 
.woocommerce-page .woocommerce-ordering {
    margin-right: 15px !important;
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 5px;
    outline: none;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 1em;
    margin-left: 0;
    margin-right: -20px;
}
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a {
    float: left;
    margin-right: 3.65%;
    width: 29.5%;
    overflow: hidden;
}
.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
    transition: .3s;
}
.woocommerce div.product div.images img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
    width: auto;
    display: block;
}
.woocommerce div.product .product_title {
    font-size: 28px;
    margin-bottom: 10px;
}
.woocommerce .bottom25 {
    margin-bottom: 20px;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    border: 1px solid #d1d1d1;
    margin-right: 10px;
    max-width: 70px;
    padding: 8px 10px;
    text-align: center;
    vertical-align: top;
    border-radius: 3px;
}
.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    padding: 12px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    background: #73AE20;
    border-color: #73AE20;
}
.woocommerce div.product form.cart .button:before {
    background: #3e9fbe;
    border: 1px solid #3e9fbe;
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    -moz-transform: scale(0.5, 1);
    -ms-transform: scale(0.5, 1);
    -o-transform: scale(0.5, 1);
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.woocommerce div.product form.cart .button:hover::before, 
.woocommerce div.product form.cart .button:focus::before {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.woocommerce .product_meta {
    font-size: 14px;
    color: #616161;
}
.woocommerce .woocommerce-tabs {
    border: 1px solid #d1d1d1;
}
.woocommerce .woocommerce-tabs .nav-tabs {
    border-bottom: none;
    background: #f9f9f9;
    width: 100%;
}
.woocommerce .woocommerce-tabs .nav-tabs li.active {
    color: #73AE20;
    background: #fff;
}
.woocommerce .woocommerce-tabs .nav-tabs>li {
    float: left;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-bottom: -1px;
    margin-right: -4px;
    padding: 20px;
    transition: .3s;
}
.woocommerce .woocommerce-tabs .nav-tabs>li:hover {
    background: #fff;
}
.woocommerce .woocommerce-tabs .nav-tabs>li:hover a{
    color: #73ae20;
}
.woocommerce .woocommerce-tabs .nav-tabs>li.active>a, 
.woocommerce .woocommerce-tabs .nav-tabs>li.active>a:focus, 
.woocommerce .woocommerce-tabs .nav-tabs>li.active>a:hover {
    color: #73ae20;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom-color: transparent;
    padding: 0;
}
.woocommerce-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.woocommerce-tabs .nav>li>a:focus, 
.woocommerce-tabs .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee0;
    color: #73ae20;
}
div#tab-description h2 {
    display: none;
}
.woocommerce-tabs .tab-content .tab-pane.fade {
    border-top: 1px solid #d1d1d1;
    padding: 45px 20px 20px;
    width: 100%;
}
.woocommerce #reviews #comments .woocommerce-Reviews-title {
    display: none;
}
.woocommerce #reviews #comments ol.commentlist li {
    margin: 0 0 20px;
    position: relative;
    border: 0;
    background: #f2f2f2;
    box-shadow: 0 0 2px #c8c8c8;
    border-radius: 2px;
    padding: 20px;
}
.woocommerce-Reviews .commentlist .comment_container {
    background: #fff;
    padding: 15px;
    display: table;
    border-radius: 2px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: inherit;
    padding: 0;
    width: 90px;
    height: auto;
    background: #ebe9eb00;
    border: none;
    border-radius: 50%;
    margin-right: 12px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #5b5b5b;
    font-size: 13px;
}
.comment_container .meta strong {
    color: #73AE20;
    font-size: 14px;
    text-transform: uppercase;
}

.woocommerce .star-rating {
    float: inherit;
    overflow: hidden;
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    width: 5.4em;
    display: block;
    color: #fc0;
}
div#review_form_wrapper {
    position: relative;
}
.comment-reply-title {
    border-bottom: 1px solid #dadada;
    display: inline-block;
    margin-bottom: 25px;
    font-size: 24px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.comment-reply-title:before {
    height: 4px;
    width: 70px;
    background: #73AE20;
    display: block;
    content: "";
    position: absolute;
    top: 42px;
}
.woocommerce #review_form #respond p.stars {
    margin: 0px 0 10px;
    font-size: 18px;
    color: #fc0;
}
.comment-form-rating label {
    display: none;
}
section.related.products {
    margin-top: 52px;
}
.related.products ul.products.clearfix .margin10 {
    margin-top: 40px;
}
.woocommerce .woocommerce-product-rating {
    display: none;
}
.woocommerce div.product form.cart {
    margin-top: 30px;
}
.woocommerce span.onsale {
    padding: 20px 21px;
    font-weight: 500;
    line-height: 0;
    top: 0;
    right: 15px;
    margin: 0;
    border-radius: 0;
    background-color: #73ae20;
    color: #fff;
    font-size: 14px;
    left: auto;
}
.shopping_box .title_link h2 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
span.price {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #73ae20;
}
.shop_content .price del {
    color: #73ae20a8;
    line-height: 26px;
}
.shop_content .price ins {
    color: #73ae20;
}
.woocommerce .products .star-rating {
    display: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    line-height: 22px;
}
.comment-respond .comment-form input#author, 
.comment-respond .comment-form input#email,
.woocommerce #review_form #respond textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px;
    margin-top: 5px;
}
.push_nav li.dropdown a.dropdown-toggle:after {
    display: none;
}
.woocommerce .coupon label {
    display: none;
}

/* End single page */


.post-type-archive-product .star-rating{
	display: none;
}

.post-type-archive-product .button.full-wid{
	opacity: 0;
}

.shopping_box:hover .button.full-wid{
	opacity: 1;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;	
}

.post-type-archive-product .button.full-wid {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 99999;
}

.add_to_cart_button:before, .post-type-archive-product.woocommerce a.added_to_cart:before {
    background: #3e9fbe;
    border: 1px solid #3e9fbe;
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    -moz-transform: scale(0.5, 1);
    -ms-transform: scale(0.5, 1);
    -o-transform: scale(0.5, 1);
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    transition: .3s;
}
.add_to_cart_button:hover::before, .add_to_cart_button:focus::before, 
.post-type-archive-product.woocommerce a.added_to_cart:hover:before {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: none; 
    text-decoration: none; 
    background-image: none; 
    color: #515151;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    color: #fff;
}
.post-type-archive-product .woocommerce #respond input#submit .loading, 
.woocommerce a.button .loading, .woocommerce button.button .loading, 
.woocommerce input.button .loading {
	color:#fff;
}
.post-type-archive-product.woocommerce a.added_to_cart{
    background: #73AE20;
    border-color: #73AE20;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 600;
    line-height: normal !important;
    font-size: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    color: #fff;
    bottom: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}
.post-type-archive-product .woocommerce #respond input#submit:hover, 
.post-type-archive-product .woocommerce a.button:hover, 
.post-type-archive-product .woocommerce button.button:hover, 
.post-type-archive-product .woocommerce input.button:hover{
	background: transparent;
	color: #fff;
}
.price_product ins {
    text-decoration: underline;
}
h4.price_product {
    font-size: 16px;
    margin-bottom: 15px;
}
.price_product del {
    color: #9ac164;
    padding-left: 5px;
}
.pagination>li>a, .pagination>li>span {
    border: none;
    color: #000;
}

.form-control {
    box-shadow: 0 0;
    border: 1px solid #d1d1d1;
    margin-right: 10px;
    max-width: 100%;
    padding: 8px 10px;
    text-align: center;
    vertical-align: top;
}


/* ------------------ SHOP ------------------ */
/* WooCommerce */
.woocommerce .max-shop-content-wrap span.onsale {
    padding: 20px 21px;
    line-height: 0;
    margin: 0;
    border-radius: 0;
    background-color: #74ae21;
    font-size: 13px;
    z-index: 1;
    right: 0px;
}
#shop .shopping_box {
  box-shadow: 0 0 2px #d1d1d1;
  min-height: 386px;
}
.shopping_box .shop_content{
    padding:15px;
}
.shopping_box .shop_content .price_product, .shop_info .price_product, .cart_table .price_product{
    color:#73AE20;
}   
.shopping_box a.btn-cart{
    position:absolute;
    left:50%; margin-left:-75px;
    width:150px; bottom:10px;
    opacity:0;
}
.shopping_box:hover a.btn-cart{
    opacity:1;
}
.shopping_box:hover a.title_link{
    color:#73AE20;
}

#shop .shop_info{}
.quote .quote {
  border: 1px solid #d1d1d1;
  margin-right: 10px;
  max-width: 50px;
  padding:8px 10px;
  text-align: center;
  vertical-align: top;
}
.quote .quote, .quote a{
    display: inline-block;
}
.share{
    border-bottom:1px solid #d1d1d1;
    border-top:1px solid #d1d1d1;
    padding:10px 0;
    margin-top: 18px;
}
.share p{
    margin:0;
}
.share ul{}
.share ul li{
    display:inline-block;
}
.share ul > li a{
  display: block;
  padding:0px 5px;
  color:#616161;
  font-size:14px;
}
.share ul > li a:hover, .share ul > li a:focus{
    color:#73AE20;
}
.shop_info .tag_cate{
    font-size:14px;
    color:#616161;
}
.shop_tab {
  border: 1px solid #d1d1d1;
}
.shop_tab .tabs {
  background: #f9f9f9;
  width: 100%;
}
.shop_tab .tabs li {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin:0;
  margin-bottom: -1px;
  margin-right:-4px;
  padding: 20px;
}
.shop_tab .tabs li.active, .shop_tab .tabs li:hover, .shop_tab .tabs li:focus{
    color:#73AE20;
    background:#fff;
}
.shop_tab .tab_content {
  border-top: 1px solid #d1d1d1;
  padding: 20px;
  width: 100%;
}   
.product-info .tab_content p:last-child {
  margin-bottom: 0;
}
.cart_table table{
    margin-bottom:0;
}
.cart_table .table-responsive  thead {
    background:#f9f9f9;
}
.cart_table .table-responsive  thead  tr > th{
    padding:15px 20px;
    border-bottom-width: 1px;
}
.cart_table .table-responsive tbody tr > td{
  vertical-align: middle;
  padding:20px;
}
.cart_table .product-name{
  display: inline-block;
  vertical-align: middle;
}
.cart_table .btn-close{
    display:inline-block;
    color:#ff5b5b;
    font-size:20px;
}
.apply_coupon{
    border: 1px solid #d1d1d1;
    border-top:none;
    padding:20px;
}
.apply_coupon .coupon{
}
.apply_coupon .coupon > form input[type="submit"]:hover, .apply_coupon .coupon > form input[type="submit"]:focus{
    background:#FDB501;
    border-color:#FDB501;
}
.apply_coupon .coupon > form input {
  border: 1px solid #d1d1d1;
  padding:6px 12px;
  vertical-align: top;
  height:40px;
}
.apply_coupon .coupon > form .form-group > input{
    width:100%;
}

.apply_coupon .coupon a {
  display: inline-table;
}
.totals{
    padding:15px;
}
.total_form input{
    height:40px;
}
            
.totals, .total_form .select{
    border: 1px solid #d1d1d1;
}
.total_form .select {
    border: 1px solid #d1d1d1;
    overflow: hidden; 
    height: 40px;    
    width:100%;
    position: relative;
    display: block;
}
.total_form select{       
    height: 40px;
    padding: 5px;
    border: 0;       
    width:100%;
     color:#555;
     opacity:.6;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.total_form .select:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color:#555;
     font-size:16px;
    padding:9px 8px;
     padding-right:0;
    position: absolute; right: 0; top: 0;
    background:transparent;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
.totals .table-responsive tr > td {
  border: none;
  color:#737373;
  padding:17px 10px;
}   
.totals .table-responsive tr > td.yellow_t{
    color:#73AE20;
}   
/* ------------------ SHOP ------------------ */    

.woocommerce #respond input#submit, 
.woocommerce a.button{
    padding: 12px 18px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    top: 68%;
    left: 50%;
    color: #fff;
    background-color: #74ae21;
    font-family: 'Raleway', sans-serif;
}

.woocommerce .coupon .input-text {
    border: 1px solid #d1d1d1;
    padding: 6px 12px;
    vertical-align: top;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
}
.woocommerce-cart-form .coupon input.button {
    padding: 11px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    background: #3e9fbe;
    color: #fff;
    transition: all .4s ease;
    float: left !important;
    margin-right: 15px;
}
.woocommerce-cart-form .coupon input.button:hover, 
.woocommerce-cart-form .coupon input.button:focus {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    background: #73AE20;
    border-color: #73AE20;
}
.woocommerce-cart-form .coupon{
    float: left;
}
.woocommerce-cart-form .actions input[type="submit"].button {
    float: right;
}
.cart_totals h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
    border: 1px solid #d1d1d1;
    padding: 15px;
}
.woocommerce table.shop_table, 
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce table.shop_table tbody th {
    border: none !important;
}
.woocommerce a.button.alt{
    background-color: 
}
.woocommerce a.button.alt {
    padding: 14px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    background: #3e9fbe;
}

.woocommerce a.button.alt:hover{
    background: #73ae20;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    font-weight: 400;
    display: block;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 26px;
    color: #555555;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #e9edf0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #fafafa;
    border-radius: 5px;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #73ae20;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #3e9fbe;
    color: #fff;
}
.woocommerce form .form-row .input-checkbox {
    margin: 8px 8px 0 -20px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.woocommerce-account-fields {
    margin-left: 20px;
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}










/*===========   Mobile Menu   ===========*/

#mobile-menu{
    position: absolute;
    top: 61px;
    width: 100%;
    z-index: 9;
    right: 0;
    z-index: 999;
}

.admin-bar #mobile-menu {
  top:71px;
}

#navigation #mobile-menu .navbar-nav {
  float: none;
}

#navigation #mobile-menu .navbar-nav {
  margin: 0;
  background-color: #29333f;
}


#mobile-menu .navbar-collapse{
    padding-right: 0;
    padding-left:0;
    border: 0;
}

#mobile-menu .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0 !important;
}

#mobile-menu ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mobile-menu ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
  display: block;
}

#mobile-menu ul li:hover > a,
#mobile-menu ul li.active > a {
  color: #fff;
}

#mobile-menu ul ul {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px; 
}

#mobile-menu ul li span.menu-toggler {
  display: inline-block;
  width: 34px;
  cursor: pointer;
  color: #fff;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

#mobile-menu ul li:hover .menu-toggler{
    color: #fff;
}

#mobile-menu ul li span.menu-toggler i {
  display: block;
  line-height: 34px;
}

#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down {
  display: none;
}

#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right {
  display: block;
}

#navigation #mobile-menu .navbar-nav>li>a:focus, 
#navigation #mobile-menu .navbar-nav>li>a:hover {
  background-color: transparent;
}

@media only screen and (max-width : 768px) {
  #masthead.sticky {
    position: inherit !important;
  }
}

#main-menu ul.sub-menu li > a{
    font-weight: 400!important;
}
#navigation .navbar-header .navbar-toggle:hover, 
#navigation .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-toggle:hover .icon-bar {
  background: #4bb463;
}
span.dropdown-toggle:hover {
    background: #002147;
}
span.dropdown-toggle {
    right: 0;
    float: right;
    position: absolute;
    top: 5px;
    font-size: 16px;
    padding: 2px 8px;
    background: #00AAFF;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    border-radius: 3px;
}

.woocommerce-page .product-thumbnail .shopping-product img {
    height: auto;
    max-width: 82px;
    width: 82px;
    border-radius: 4px;
}

.single-product .woocommerce-message a.button.wc-forward{
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
}

.sidebar .widget_shopping_cart a.button.wc-forward{
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
}

.sidebar input#woocommerce-product-search-field-0 {
    position: relative;
    padding: 0px;
    font-size: 12px;
    background: #fff;
    height: 44px;
    border-radius: 4px;
    margin-top: 0px;
    color: #0f0f0f;
    width: 100%;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    outline: none;
   
}

.sidebar .woocommerce-product-search input[type="submit"]{
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    top: 0px;
    left: 0px; 
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 1; 
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgb(62, 159, 190);
    color:#fff;

}


footer input#woocommerce-product-search-field-1 {
    position: relative;
    padding: 0px;
    font-size: 12px;
    background: #fff;
    height: 44px;
    border-radius: 4px;
    margin-top: 0px;
    color: #0f0f0f;
    width: 100%;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    outline: none;
   
}

footer .woocommerce-product-search input[type="submit"]{
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    top: 0px;
    left: 0px; 
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 1; 
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background:#73AE20;
    color:#fff;   
}

footer ul.product_list_widget a:hover{
    color:#73AE20;
}