/* 
Theme Name: Bizness
Theme URI: http://max-themes.com/wp/bizness
Author: Max-Themes-BD
Author URI: https://themeforest.net/user/max-themes-bd
Description: Bizness - Creative Business WordPress Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html 
Tags: right-sidebar, post-formats
Text Domain: bizness
*/

@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:100,200,300,400,500,600,700');


/*General Styling*/

body{
  padding:0;
  margin:0;
  color:#0f0f0f;
  line-height:1.5rem;
  font-size:1rem;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

html{
  font-size:16px;
}

section.rev_slider_wrapper.text-center {
    left: 0 !important;
    top: 0 !important;
}
.box-content{
    opacity: .7;
}
/*h3.box-title.customstyle:after {
    position: relative;
    display: block;
    width: 47px;
    height: 4px;
    content: '';
    margin-top: 10px;
    background-color: #00BD9C;
}
*/

.newsletter-col h3 {
    font-size: 30px;
    color: #d2d2d2;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.newsletter-col h3 span {
    color: #00BD9C;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 40%;
    display: inline-block;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.newsletter-col.col-default p {
    color: #d2d2d2;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 8px;
    margin-bottom: 30px;
}
.newsletter-col .input-group input[type="email"] {
    height: 50px;
    background: rgba(255,255,255,0.4);
    border: none;
    color: #ffffff;
    padding: 0 10px;
        width: 72%;
    margin-right: 0;
}
.input-group-addon, .input-group-btn {
    width: 0%;
}
.form-control {
    height: 40px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.newsletter-col .input-group input[type="submit"]{
    width: 130px;
    height: 50px;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
    background: #00BD9C;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none
}
.newsletter-col.col-default {
    text-align: center;
}
.newsletter-col .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.call-to-action-text h2 {
  color: #464646;
  font-size: 26px !important;
  font-weight:600;
}

.call-to-action-text p {
  margin-bottom: 0;
}

.call-to-action-text {
    color: #fff;
}

.call-to-action-text {
    text-align: left;
}

.call-to-action-text a.btn {
  background: #00bd9c none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  float: right;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 4px;
  text-transform: uppercase;
}

.call-to-action-text p {
    margin-bottom: 0;
    color: #fff;
}




/*Share Common Font Family*/
 #text_rotator h1, h3, .page_header .page-content h1, .aboutus h4, .events h4, .items > li > a, #error .error h1, 
.shopping_box h4, .shop_tab .tabs li, .pushmenu .push_nav > li > a > span{
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}
h2, #about .priorty .about-post h4, .icon_box h4, .contact_address .address h4,
.reviews .review_left strong, #error .error h2,
.shopping_box h4.price_product, .cart_table .price_product, .cart_table .product-name h4,
nav.bootsnav .megamenu-content .title{
  font-family: 'Raleway', sans-serif;
  font-weight:500;
}

h2,h3,h4,h5,h5,
#rev_slider_full h1, #rev_slider_video h1,
#parallax h1{
  font-family: 'Raleway', sans-serif;
}
.number-counters .counters-item strong,
#rev_slider_full p,
#rev_slider_video p,
p{
  font-family: 'Open Sans';
}
p{
  font-size:.9rem;
}

ol, ul{
  margin:0;
  padding:0;
  list-style:none;
}
::-webkit-input-placeholder, .form-control::-webkit-input-placeholder{
   color:#b5b5b5;
}
:-moz-placeholder, .form-control:-moz-placeholder{
   color:#b5b5b5;  
}
::-moz-placeholder, .form-control::-moz-placeholder{
   color:#b5b5b5;  
}
:-ms-input-placeholder, .form-control:-ms-input-placeholder{  
   color:#b5b5b5;  
}
textarea::-webkit-input-placeholder{
   color:#b5b5b5;
  opacity:1;
}
textarea:-moz-placeholder{
   color:#b5b5b5;
  opacity:1;
}
textarea::-moz-placeholder{
   color:#b5b5b5; 
  opacity:1;
}
textarea:-ms-input-placeholder{  
   color:#b5b5b5; 
  opacity:1;
}
textarea{
  resize:none;
  box-shadow:0 0;
}
label {
  font-weight:normal;
  margin:0;
}
button {
  border: none;
}
.form-control{
  box-shadow:0 0;
}
.form-control:focus, textarea:focus{
  border-color: #333333;
  box-shadow: 0 0;
} 
a{
  color: inherit;
}
a, a:hover, a:focus{
  outline:none;
  text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
h1{
  font-size:3.000rem;
}
h2{
  font-size:2.000rem;
}
h3{
  font-size:1.500rem;
}
h4{
  font-size:1.125rem;
}
p{
  color:#5b5b5b;
  line-height:normal;
}
/*Helper Classes*/
/*.home .topbar {
    display: none;
}
.sticky .topbar {
    display: none;
}*/
.padding{
  padding-bottom:90px;
  padding-top:90px;
}
.padding-top{
  padding-top:90px;
}
.padding-bottom{
  padding-bottom:90px;
}
.margin_top{
  margin-top:90px;
}
.padding-bottom-half{
  padding-bottom:45px;
}
.heading_space {
  margin-bottom: 45px;
  overflow: hidden;
}

.margin_tophalf{
  margin-top:45px;
}
.top30{ 
  margin-top:30px;
}
.bottom30{
  margin-bottom:30px;
}

.bottom25{
  margin-bottom:25px;
}
.top25{
  margin-top:25px;
}
.bottom20{
  margin-bottom:20px;
}
.top20{
  margin-top:20px;
}
.bottom15{ 
  margin-bottom:15px;
}

.margin10{
  margin-top:15px;
}
.bottom5{
  margin-bottom:5px;
}
.no_bottom{
  margin-bottom:0;
}
.bg_light{
  background:#f3f3f3;
}
.bg_grey{
  background-color:#ebeff2; 
}
.color{
  color:#00BD9C;
}
.whitecolor{
  color:#fff;
}
.bg_blue{
  background-color:#0798bc;
}
.border_radius{
  -webkit-border-radius:4px;
  border-radius:4px;
} 
.heading{
  border-bottom:1px solid #dadada;
  display:inline-block;
}
.heading .divider-left, 
.heading .divider-center{
  height:4px;
  width:70px;
  background:#00BD9C;
  display: block;
}
.heading .divider-left {
  margin: 10px 0 -2px;
}
.heading .divider-center{
  margin:10px auto -2px;
}
.heading > span{
  font-weight:200;
}
.image, .image img{
  position:relative;
}
.image img{
  -moz-transition:all .8s linear;
  -ms-transition:all .8s linear;
  -o-transition:all .8s linear;
  -webkit-transition:all .8s linear;
  transition:all .8s linear;
  width:100%;
}
.image{ 
  overflow:hidden;
}
.image:hover img,
.events:hover .image img,
.course:hover .image img,
#expert_slider .item:hover img,
.team:hover .image img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* Header Style */
.solid_header {
    margin-bottom: 0 !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    border: none !important;
    border-bottom: solid 1px #e0e0e0 !important;
    z-index: 9 !important;
    z-index: 999 !important;
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0,0,0,.35) !important;
    -o-box-shadow: 0 3px 3px -3px rgba(0,0,0,.35) !important;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,.35) !important;
    box-shadow: 0 3px 3px -3px rgba(0,0,0,.35) !important;
}
nav.navbar.bootsnav.solid_header a {
    color: #0f0f0f !important;
}
nav.navbar.bootsnav.navbar-fixed.solid_header #menu_bars span {
    background: #0f0f0f !important;
}
.page_header .page-content h1 {
    padding-top: 5px;
}
nav.navbar.bootsnav.navbar-fixed.solid_header .search_btn {
    color: #0f0f0f !important;
}
.solid_header .search_btn {
    border: 1px solid #0f0f0f !important;
}
/*** Buttons ***/
.btn_common{
  padding:10px 30px;
  display: inline-block;
  font-weight:bold;
  line-height:normal !important;
  font-size:13px;
  text-transform:uppercase;
  -webkit-border-radius:4px;
  border-radius:4px;
  position:relative;
  z-index:1;
}

.white_border{
  border:1px solid #fff;
}
.btn_border{
  border:1px solid #0f0f0f;
}
.btn-dark{
  border:1px solid #0f0f0f;
  background:#0f0f0f;
}
.blue{
  background:#333333;
}

.btn_common:before {
  background: #333333;
  border:1px solid #333333;
  border-radius:4px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  
  -moz-transform: scale(0.5, 1);
  -ms-transform: scale(0.5, 1);
  -o-transform: scale(0.5, 1);
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}

.btn_common:hover::before,
.btn_common:focus::before {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}



.yellow,
.btn_common.blue:hover:before,
.btn_common.blue:focus:before,
.btn_border:hover::before,
.btn_border:focus::before,
.btn_border:hover,
.btn-dark:hover::before,
.btn-dark:focus::before,
.btn-dark:hover,
.white_border:hover::before,
.white_border:focus::before{
  background: #00BD9C;
  border-color: #00BD9C;
}
.white_border:hover,
.white_border:focus{
  border:1px solid #00BD9C;
}


.yellow, .yellow:hover, .yellow:focus,
.white_border, .white_border:hover, .white_border:focus,
.btn_border:hover, .btn_border:focus, 
.blue, .blue:hover, .blue:focus{
  color:#fff;
}
.readmore{
  font-size:15px;
  color:#282828;
  font-weight:bold;
  text-decoration:underline;
  text-transform:uppercase;
  padding-bottom:2px;
}
.readmore:hover, .readmore:focus, 
.commment li a:hover, .commment li a:focus{
  color:#00BD9C;
}

/*** WIDGET ***/
aside.sidebar{
  padding:15px; 
}

/* useful links */
ul.links{}  
ul.links li, 
ul.social_icon li, 
.widget .tags > li, 
.commment li{
  display: inline-block;
}

.widget .tags > li{
  margin-right: 3px;
}

ul.links li {
  width: 49%;
}
ul.links li a{
  color: #ffffff;
  margin-bottom:10px;
  padding-bottom:5px;
  
  display: inline-block;
  position:relative;
}
ul.links li a, ul.bullet_list li{
  font-size: 14px;
}
ul.links li a > i {
  display: inline-table;
  vertical-align: middle;
  width: 20px;
}
ul.links li a:hover, ul.links li a:focus{
  color:#ffffff;
}
ul.links li a::after {
  background: #ffffff;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  left: 50%;
  margin-left: 10px;
  position: absolute;
  right: 50%;
  width: 0;
}
ul.links li a:hover::after{
  width:100%;
  left:0;
  right:0;
}

/* useful links */
ul.bullet_list li{ margin-bottom:15px; margin-left:10px;}
ul.bullet_list li:before{
  content:'';
  height:5px; width:5px;
  margin-left:-10px;
  background:#5b5b5b;
  display:inline-block; vertical-align:middle;
  margin-right:5px; border-radius:100%;
}

/* Social Icons */
ul.social_icon{}  
ul.social_icon li a{
  border:1px solid #fff;
  color: #fff;
  display: block;
  font-size:16px;
  height:36px;
  line-height:38px;
  text-align: center;
  width:36px;
  border-radius:4px;
  position:relative;
  z-index:1;
  margin:3px 3px 0 0;
}

ul.social_icon.black li a{
  border:1px solid #0f0f0f;
  color: #0f0f0f;
}
ul.social_icon.black li a:hover,
ul.social_icon.black li a:focus{
  color:#fff;
}

ul.social_icon li a:after {
  position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 3px;
   content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
   box-sizing: content-box;
  top:-1px;
  left:-1px;
  z-index: -1;
 -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
  
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}

ul.social_icon li a:hover::after, 
ul.social_icon li a:focus::after{
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
    transform: scale(1);
}


ul.social_icon li a.facebook:after{
  background:#3b5998;
  border:1px solid #3b5998;
}
ul.social_icon li a.twitter:after{
  background:#00aced;
  border:1px solid #00aced;
}
ul.social_icon li a.dribble:after{
  background:#ea4c89;
  border:1px solid #ea4c89;
}
ul.social_icon li a.instagram:after{
  background:#517fa4;
  border:1px solid #517fa4;
}
ul.social_icon li a.vimo:after{
  background:#4EBBFF;
  border:1px solid #4EBBFF;
}

/*Useful Tags*/
.widget .tags > li a {
  border: 1px solid #bababa;
  color: #5b5b5b;
  display: block;
  font-size: 12px;
  margin-bottom:2px;
  line-height:1;
  padding:6px 10px;
  background:#fff;
}
.widget .tags > li a:hover, .widget .tags > li a:focus{
  background:#333333;
  border-color:#333333;
  color: #fff;
}
p.hours{
  color:#5b5b5b;
  font-size:14px;
  margin-bottom:15px;
}
p.hours span{
  float:right;
}
p.hours a{
  font-size:10px; font-weight:bold;
  color:#fff;
  padding:5px 10px;
  background:#f57246;
}
/*Comments & Date*/
.commment li{
  margin-left:10px;
}
.commment li:first-child{
  margin-left:0;
}
.commment li a{
  display:block;
  color:#454545;
  font-size:14px;
}
.commment li a > i{
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
  color:#333333;
}
/*Pagination*/
.pager_nav .pagination{
  margin:0;
}
.pager_nav .pagination > li > a, .pager_nav .pagination > li > span{
  color: #0f0f0f;
  border:none;
}
.pager_nav .pagination > li > a:focus, .pager_nav .pagination > li > a:hover{
  background-color: transparent;
  color:#00BD9C;
}


/*Profile Image*/
.profile_bg{
  background:#f2f2f2;
  box-shadow:0 0 2px #c8c8c8;
  border-radius:2px;
  padding:20px;
}
.profile_border{
  border-top:1px solid #c8c8c8;
}
.profile_border:last-child{
  margin-bottom: 25px;
}
.profile{
  background:#fff; padding:15px;
  display:table;
  border-radius:2px;
}
.profile .p_pic, .profile .profile_text{ display:table-cell;}
.profile .p_pic{ width:100px;}
.profile .p_pic img{ width:90px; border-radius: 4px;}
.profile_text{ vertical-align:top; padding-right:10px;}
.profile_text h5{ margin-bottom:8px;}
.profile_text strong{ color:#00BD9C; font-size:14px;}
.profile_text span{ color:#5b5b5b; font-size:13px;}

.reviews .review_left{
  border:1px solid #c8c8c8;
  padding:20px 10px;
}
.reviews .review_left strong{ color:#a2a2a2; font-size:60px; line-height:50px;}
.reviews .review_left form.star_rating .stars{ margin: 0 auto;}

.rating_progress .progress, .rating_progress span{
  float:left;
}
.rating_progress span{ font-size:14px; margin-top:-5px;}
.rating_progress .progress{
  background-color:#f2f2f2;
  border:0;
  height:12px;
  margin:0px 10px 20px 10px;
  width:270px;
  border-radius:3px;
  box-shadow:none;
}
.rating_progress .progress-bar{ background:#00BD9C;}



/*Search*/
#xsearch{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
}
#xsearch.open {
    opacity: 1;
   z-index:1000;
   width: 100%;
    height: 100%;
}
#xsearch input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color:#fff;
    background: rgba(0, 0, 0, 0);
    font-size:40px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#xsearch .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#xsearch .close{
  background-color: #00BD9C;
  border-color: #00BD9C;
  border-radius: 3px;
  color: #ffffff;
  font-size: 21px;
  opacity: 1;
  padding: 0 0px 4px;
  position: fixed;
  right: 15px;
  top: 55px;
  height: 30px;
  width: 32px;
  text-align: center;
} 
#experts, #parallax, .page_header, #counter {
    background-position: 50% 0 !important;
}


/*Star  rating*/
form.star_rating .stars {
  background: url("./images/star.png") repeat-x 0 0;
  width:112px;
  margin:0;
}
.ie7 form .stars {
  *zoom:1;
}
form.star_rating .stars:before,
form.star_rating .stars:after {
  display: table;
  content: "";
}
form.star_rating .stars:after {
  clear: both;
}
form.star_rating .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form.star_rating .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form.star_rating .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form.star_rating .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form.star_rating .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form.star_rating .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form.star_rating .stars label{
  display: block;
  width:20px;
  height:20px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999rem;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form.star_rating .stars label:hover ~ span{
  background-position: 0 -21px;
}
form.star_rating .stars label.star-5:hover ~ span{
  width: 100% !important;
}
form.star_rating .stars label.star-4:hover ~ span{
  width: 80% !important;
}
form.star_rating .stars label.star-3:hover ~ span{
  width: 60% !important;
}
form.star_rating .stars label.star-2:hover ~ span{
  width: 40% !important;
}
form.star_rating .stars label.star-1:hover ~ span{
  width: 20% !important;
}
form.star_rating .stars span{
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height:20px;
  background: url("images/star.png") repeat-x 0 -44px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}





.widget p.address > i {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}

ul.comment{}
ul.comment li{
  display:inline-block;
  margin-left:15px;
}
ul.comment li:first-child{
  margin-left:0;
}
ul.comment li a{
  color:#5b5b5b;
  font-size:12px;
  display:block;
}
ul.comment li a > i{
  font-size: 18px;
  color:#333333;
  margin-right: 3px;
  vertical-align: middle;
}

.xwidget_search{
  background:#d8dadb;
  padding:5px;
  width:100%;
}
.xwidget_search .form-control{
  height:42px;
}
.xwidget_search .input-group-addon {
  background: #00BD9C;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  margin: 5px;
  padding: 0 5px;
  cursor: pointer;
}
.single_post{
  overflow:hidden;
}
.single_post p{
  margin-bottom:0;
}
.single_post > img {
  display: table-cell;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

/*Back to top Button*/
.scrollToTop{
  width:32px; 
  height:32px;
  border-radius:4px; 
  text-align:center; 
  font-weight: bold;
  line-height:26px;
  font-size:25px;
  position:fixed;
  z-index:1000;
  bottom:16px;
  right:40px;
  display:none;
  background:#00BD9C;
}
.scrollToTop:hover{
  background:#333333;
}
.scrollToTop, .scrollToTop:hover, .scrollToTop:focus{
  color: #fff;
}

.widget_search #xsearch {
  position:relative;
  background:transparent;
  opacity: 1;
}

.widget_search #xsearch input[type="search"] {
  position:relative;  
  padding: 0px;
  font-size: 12px;
  background: #fff;
  height: 44px;
  border-radius: 4px;
  margin-top: 0px;
  color: #0f0f0f;
}

.widget_search #xsearch .btn{
  position: relative;
  margin-top: 20px;
  margin-left: 0px;
  top: 0px;
  left: 0px;
}

.widget_search #xsearch .close{
  display: none;
}

.sidebar form.widget_search{
  background: #d8dadb;
  padding: 5px;
  width: 100%;  
}

.sidebar .widget_search .input-group-addon {
  background: #00BD9C;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  margin: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.sidebar .widget_product_tag_cloud .tagcloud a{
  border: 1px solid #bababa;
  color: #5b5b5b;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 1;
  padding: 6px 10px;
  background: #fff;
}

.sidebar .widget_product_tag_cloud .tagcloud a:hover{
  background: #333333;
  border-color: #333333;
  color: #fff;
}

footer .widget_product_tag_cloud .tagcloud a{
  border: 1px solid #bababa;
  color: #5b5b5b;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 1;
  padding: 6px 10px;
  background: #fff;
}

footer .widget_product_tag_cloud .tagcloud a:hover{
  background: #333333;
  border-color: #333333;
  color: #fff;
}


.scrollToTop, a, 
ul.links li a::after,
.btn_common:before, .white_border, .search_btn > span, .icon_box,
.owl-theme .owl-controls .owl-buttons div,
.tparrows, .team .post,
.items > li > a:hover,  .items > li > a.expanded,
 ul.tabs li, .shop_tab .tabs li,
.pushmenu-push, .pushmenu, #menu_bars span, .pushmenu .push_nav > li,
pricing_item, #search, #search.open,
.about_box:hover, .about_box img,
input,
.pushmenu .push_nav > li > a span{
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
 -webkit-transition:all .4s ease;
 transition:all .4s ease;
}



/* ----------- TOPBAR ------------*/
.topbar{
  background:#0f0f0f;
  color:#fff;
  font-size:14px;
}
.topbar ul.social_top{ 
  text-align:right;
  display:inline-block;
}
.topbar ul.social_top li{
  display:inline-block;
  margin-left:-3px;
}
.topbar ul.social_top li:first-child a{
  border-left:1px solid #3f3f3f;
}
.topbar ul.social_top li a {
  border-right: 1px solid #3f3f3f;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  text-align: center;
  width: 36px;
}
.topbar ul.social_top li a:hover, .topbar ul.social_top li a:focus{
  background:#00BD9C;
  border-color:#00BD9C;
  color:#fff;
}
.topbar span.info {
  display: inline-block;
  padding-right:20px;
  margin:8px 0;
}
.topbar span.info > i {
  font-size: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

/* ----------- TOPBAR Ends ------------*/



/* ------------ HEADER ------------- */
header{}

/*Navigation*/
nav.navbar.bootsnav{
  z-index:999;
  border: none;
  box-shadow: none;
  -moz-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  -o-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  -webkit-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
}
nav.navbar.bootsnav.no-background{
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow: none;
}
nav.navbar.bootsnav.navbar-fixed.no-background,
nav.navbar.bootsnav{
  padding:10px 0;
}
nav.navbar.bootsnav.navbar-fixed,
nav.navbar.bootsnav.sticked{
  padding:0;
}

nav.navbar.bootsnav .navbar-brand{
  display: inline-block;
  height: auto;
  margin-left: 0;
  padding:10px  0;
}
nav.navbar.bootsnav .navbar-brand > img{
  width:100px;
}
nav.navbar.bootsnav ul.nav > li{
  margin:0 22px;
}
nav.navbar.bootsnav ul.nav > li > a{
  color: #0f0f0f;
  font-size: 14px;
  font-weight:600;
  text-transform:uppercase;
  position:relative;
  overflow:hidden;
}
nav.navbar.bootsnav ul.nav > li > a,
nav.navbar.bootsnav.navbar-fixed.no-background ul.nav > li > a{
  padding:22px 0
}
nav.navbar.bootsnav.sticked ul.nav > li > a,
nav.navbar.bootsnav.navbar-fixed ul.nav > li > a{
  /*padding:20px 0;*/
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus,
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.dropdown> .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle,
nav.navbar.bootsnav ul.nav > li.dropdown.on > a{
  color:#00BD9C !important;
}
.dropdown-menu.animated, .collapse navbar-collapse .animated{
  -webkit-animation-duration:.5s;
  -o-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -ms-animation-duration:.5s;
  animation-duration:.5s;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
  text-align: left;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
  border:none;
  -webkit-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  -moz-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
   box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
   margin-top:-2px;
}
nav.bootsnav .megamenu-content .title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 10px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
  font-size:inherit;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover, 
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:focus{
  color:#00BD9C;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{
  color: #0f0f0f;
  text-transform:capitalize;
  border-bottom-color:rgba(15,15,15,.15);
}
nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover{
  color:#fff !important;
  background:#333333;
}

.navbar-right { 
  margin-right:0; 
}
.navbar-right .dropdown-menu{
  left: 0;
  right: auto;
}
nav.bootsnav .megamenu-content{
  border-radius:0 0px 4px 4px !important;
  margin-top:-2px;
}

.search_btn {
  float: right;
  position: relative;
  border: 1px solid #0f0f0f;
  padding: 5px;
  font-size: 23px;
  line-height: 14px !important;
  margin: 15px 12px 0 5px;
  border-radius:5px; text-align:center;
  cursor:pointer;
}
.search_btn:hover, .search_btn:focus,
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn:hover,
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn:focus{
  color:#fff;
  border-color:#333333;
}
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn{
  border-color:#fff;
  color:#fff;
  margin:15px 12px 0 5px;
}
nav.navbar.bootsnav.no-full .navbar-collapse.in {
  min-height:280px !important;
}

/**Push Menu**/

#menu_bars {
  padding:15px 0;
  width:20px;
  border-radius:4px;
  cursor: pointer;
  display:table; 
  position:relative;
  z-index:1102;
  background:transparent;
  margin: 8px 0 0 15px;
}
#menu_bars.left {
  left: 30px;
  float: left;
}
#menu_bars.right {
  float: right;
}
#menu_bars.active {
  position: fixed;
}
#menu_bars.active.right {
  right: 30px;
}
#menu_bars span{
  background: #0f0f0f;
  display: block;
  height:3px;
  width:20px;
  pointer-events: none;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{
  background:#fff;
}
#menu_bars.active span,
nav.navbar.bootsnav.navbar-fixed #menu_bars.active span{
  background: #0f0f0f;
}
nav.navbar.bootsnav.sticked #menu_bars,
nav.navbar.bootsnav.navbar-fixed #menu_bars{
  margin-top:8px;
}
#menu_bars span.t2{
  margin: 3px 0;
}

#menu_bars.active span.t1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  -moz-transform: rotate(-45deg) translate(-5px, 4px);
  -o-transform: rotate(-45deg) translate(-5px, 4px);
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}
#menu_bars.active span.t2 {
  opacity: 0;
}
#menu_bars.active span.t3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  -ms-transform: rotate(45deg) translate(-4px, -4px);
  -o-transform: rotate(45deg) translate(-4px, -4px);
  -moz-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}


/*this is the nav*/
.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.pushmenu {
  background: #fff;
  padding: 20px 15px;
  width: 270px;
  height: 100%;
  top: 0;
  z-index: 1100;
  position: fixed;
  overflow: hidden;
}
.pushmenu.pushmenu-right{
  padding:20px 20px 20px 40px;
}
.pushmenu-left{
  left: -270px;
}
.pushmenu-left.pushmenu-open{
  left: 0;
  box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
  left: 270px;
}
.pushmenu-right{
  right: -270px;
}
.pushmenu-right.pushmenu-open{
  right: 0;
  box-shadow:3px 0 3px 3px #c2c2c2;
}
.pushmenu-push-toleft{
  left: -270px;
}
.pushmenu .push-logo {
  display: block;
  padding: 10px 0;
  margin:5px 0;
  text-align: left;
  position: relative;
  z-index: 98;
}
.pushmenu .push-logo> img {
  display: inline-block;
  width: 90px;
}
.pushmenu .push_nav {
  width: 100%;
  z-index: 100;
  background: #fff;
}
nav.navbar.bootsnav .pushmenu .push_nav > li{
  display:block;
  width:100%;
  position:relative;
  -moz-transform:translate3d(100%, 0px, 0px);
  -ms-transform:translate3d(100%, 0px, 0px);
  -o-transform:translate3d(100%, 0px, 0px);
  -webkit-transform:translate3d(100%, 0px, 0px);
  transform:translate3d(100%, 0px, 0px);
  opacity:0;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li{
  -moz-transition-duration:.4s;
  -ms-transition-duration:.4s;
  -o-transition-duration:.4s;
  -webkit-transition-duration:.4s;
  transition-duration:.4s;
  
  transition-property: all;
  -moz-transform: translate3d(0, 0px, 0px);
  -ms-transform: translate3d(0, 0px, 0px);
  -o-transform: translate3d(0, 0px, 0px);
  -webkit-transform: translate3d(0, 0px, 0px);
  transform: translate3d(0, 0px, 0px);
  
  -moz-transition-timing-function:ease;
  -ms-transition-timing-function:ease;
  -o-transition-timing-function:ease;
  -webkit-transition-timing-function:ease;
  transition-timing-function:ease;
  opacity:1;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:first-child{
  -moz-transition-delay:.1s;
  -ms-transition-delay:.1s;
  -o-transition-delay:.1s;
  -webkit-transition-delay:.1s;
  transition-delay:.1s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(2){
  -moz-transition-delay:.2s;
  -ms-transition-delay:.2s;
  -o-transition-delay:.2s;
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(3){
  -moz-transition-delay:.3s;
  -ms-transition-delay:.3s;
  -o-transition-delay:.3s;
  -webkit-transition-delay:.3s;
  transition-delay:.3s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(4){
  -moz-transition-delay:.4s;
  -ms-transition-delay:.4s;
  -o-transition-delay:.4s;
  -webkit-transition-delay:.4s;
  transition-delay:.4s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(5){
  -moz-transition-delay:.5s;
  -ms-transition-delay:.5s;
  -o-transition-delay:.5s;
  -webkit-transition-delay:.5s;
  transition-delay:.5s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(6){
  -moz-transition-delay:.6s;
  -ms-transition-delay:.6s;
  -o-transition-delay:.6s;
  -webkit-transition-delay:.6s;
  transition-delay:.6s;
}
nav.navbar.bootsnav .pushmenu.pushmenu-open .push_nav > li:nth-child(7){
  -moz-transition-delay:.7s;
  -ms-transition-delay:.7s;
  -o-transition-delay:.7s;
  -webkit-transition-delay:.7s;
  transition-delay:.7s;
}

nav.navbar.bootsnav .pushmenu .push_nav > li > a{
    display: block;
    color: #0f0f0f;
    font-size: 15px;
    padding: 5px;
    margin: 0 5px 10px 30px;
    text-transform: capitalize;
}
nav.navbar.bootsnav .pushmenu .push_nav > li > a > span{
  color: #00BD9C;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  width: 30px;
}
nav.navbar.bootsnav .pushmenu .push_nav > li > a:hover span, 
nav.navbar.bootsnav .pushmenu .push_nav > li > a:focus span{
  margin-left:-10px;
}
nav.navbar.bootsnav  .pushmenu .push_nav .dropdown > a{
  margin-top:0;
}
nav.navbar.bootsnav  .pushmenu .push_nav .dropdown-menu{
    position: relative;
    width: 100% !important;
    padding: 0;
    margin:0 0 0 15px;
    border-radius: 0;
    border: none;
    background-color:#fff;
}
nav.navbar.bootsnav  .pushmenu  .push_nav .dropdown-menu li a{
  display:block; color: #0f0f0f;
}
nav.navbar.bootsnav  .pushmenu  .push_nav .dropdown-menu li:first-child a{
  border-top:1px solid #e1e1e1;
}
nav.navbar.bootsnav .pushmenu  .social_icon{
  position:absolute; 
  bottom:0; 
  left:40px; 
  right:0;
}

body.pushmenu-push-toleft  nav.navbar.bootsnav.sticked, body.pushmenu-push-toleft .navbar-fixed{
    left: -260px;
}





/* ---------- Revolution Slider ---------- */
#rev_slider_full h1, #rev_slider_full p,
#rev_slider_video h1, #rev_slider_video p{
  color:#fff;
}
.rev_slider h1{
  font-size: 3rem;
}
#rev_slider_full h1, #rev_slider_video h1{
  font-weight:100;
}
#rev_slider_full h1 > strong, #rev_slider_video h1 > strong{
  font-size:inherit;
  font-weight:300;
}
#rev_slider_full p,
#rev_slider_video p{
  font-size:1.125rem;
  line-height:normal !important;
}
#rev_slider_full a, #rev_slider_video a{
  display:inline-block;
  margin:5px;
  font-size:14px;
}
#rev_slider_video .white_border:hover::before,
#rev_slider_video .white_border:focus::before,
#rev_slider_video .white_border:hover{
  border-color:#00BD9C;
  background:#00BD9C;
}

#rev_slider_video .rs-fullvideo-cover {
  background: rgba(0, 0, 0, 0.25);
  right:0; bottom:0; left:0; top:0;
}
.tp-caption{
  padding-left:15px;
  padding-right:15px;
}
/*arrows Slider*/
.tparrows{
  background:#00BD9C !important;
  -webkit-border-radius:100%;
  border-radius:4px;
  transform:none;
  position:absolute;
  right:0;
}
.tparrows::before {
  color: #fff;
  display: block;
  font-family:'FontAwesome';
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.tparrows.tp-leftarrow:before {
  content: "\f104";
}
.tparrows.tp-rightarrow:before {
  content: "\f105";
}
.tp-leftarrow, .tp-rightarrow{
  margin:5px;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover,
.tparrows.tp-leftarrow:focus, .tparrows.tp-rightarrow:focus{
  background:#333333 !important;
}
.tparrows:hover::before, .tparrows:focus::before{
  color: #fff;
}
/* ---------- Revolution Slider ends ---------- */


/* ---------- OWL Slider ---------- */
.slider_wrapper{
  margin-left:-15px;
  margin-right:-15px;
}
#expert_slider .item,
#news_slider .item{ 
  padding:0 15px;
}
.owl-theme .owl-controls .owl-buttons div{
  background:#fff;
  border: 1px solid #b1bec7;
  border-radius:4px;
  color:#b5b5b5;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  opacity: 1;
  padding: 0;
  position: absolute;
  text-align: center;
  top: -88px;
  width: 36px;
  overflow:hidden;
  z-index:1;
}
#expert_slider.owl-threme .owl-controls .owl-buttons div{
  background:transparent;
}
.owl-theme .owl-controls .owl-buttons div:hover, 
.owl-theme .owl-controls .owl-buttons div:focus,
#expert_slider.owl-theme .owl-controls .owl-buttons div{
  background:#00BD9C;
  border: 1px solid #00BD9C;
  color:#fff;
}
#expert_slider.owl-theme .owl-controls .owl-buttons div:hover,
#expert_slider.owl-theme .owl-controls .owl-buttons div:focus{
  background:#333333;
  border: 1px solid #333333;color:#fff;
}
#expert_slider .owl-prev,
#news_slider .owl-prev{
  right:54px;
}
#expert_slider .owl-next,
#news_slider .owl-next{
  right:10px;
}
#expert_slider .overlay .centered{
  width:100%;
  text-align:center;
}

/** Review from people **/
#review_slider .owl-page span,
#text_rotator .owl-page span{      
  position:relative;
  background:#797979;
  opacity:1;
  height:10px; width:10px;
  border-radius:3px;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}
#review_slider .owl-page span:after,
#text_rotator .owl-page span:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  left: 0;
  border-radius:4px;
  background: #00BD9C;
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}
#review_slider .owl-page.active span:after,
#review_slider .owl-page span:hover::after,
#text_rotator .owl-page.active span:after,
#text_rotator .owl-page span:hover::after{
  opacity: 1;
  visibility: visible;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#review_slider,
#review_slider p.review_text{
  position:relative;
}
#review_slider p.review_text::before {
  font-family: FontAwesome;
  /*content: url("images/quoteLeft.png");*/
  content: "\f10d";
  left: 0;
  margin-left: -50px;
  top: -14px;
  color: #00BD9C;
  font-size:28px;
}
#review_slider p.review_text::after {
  /*content: url("images/quoteRight.png"); */
  font-family: FontAwesome;
  content: "\f10e";
  margin-right: -50px;
  right: 0;
  top: -7px;
  color: #00BD9C;
  font-size:28px;
}
#review_slider p.review_text:before, 
#review_slider p.review_text:after{
  position:absolute;
  display:inline-block;
}
#review_slider h4{
  color:#00BD9C;
  font-weight:bold;
}
#review_slider p{
  margin: 0 10% 25px 10%;
}
#review_slider img.client_pic{
  border:3px solid #d4dfe8;
  margin:25px 0;
}
/** News white box **/
.content_wrap .news_box{
  background: #fff;
  margin: -50px auto 0;
  padding: 20px 15px;
  padding-bottom:0;
  position: relative;
  width: 92%;
  z-index: 1;
}
.content_wrap .news_box h4{
  font-weight:bold;
}
.content_wrap .news_box .commment li{
  margin-bottom:10px;
  margin-top:10px;
}

.team .post{
  background:rgba(51, 51, 51, .85);
  color:#fff;
  font-size:0.875rem;
  padding:10px 15px;
  position:absolute;
  left:-15px;
  bottom:0;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  opacity:0;
  width:100%;
}
.team:hover .post{
  opacity:1; left:0;
}

#text_rotator_parent{
  background:url(../images/text-rotator.jpg) no-repeat;
  width:100%;
  background-position:center center;
  background-size:cover;
}
.rotate_caption{
  padding:10% 1%;
}
#text_rotator h1, #text_rotator p{ color:#fff;}
#text_rotator p{
  margin:10px 0 0 0;
  font-size:18px;
}
#text_rotator a{
  margin:30px 3px 5px 3px;
}
/* ---------- OWL Slider ends ---------- */



/* ----- ABout US ----- */
.icon_wrap{ border-bottom:1px solid #cfcfcf;}
.icon_box{
  padding-top:20px;
  padding-bottom:20px;
}
.icon_box i{
  display: inline-block;
  font-size:44px;
  color:#00BD9C;
  position:relative;
}
.icon_box:hover i, .about-post:hover a > img{
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-delay: 0s;
  -moz-animation-duration:.7s;
  -ms-animation-duration:.7s;
  -o-animation-duration:.7s;
  -webkit-animation-duration:.7s;
  animation-duration:.7s;
}
.icon_box:hover i, .icon_box:nth-child(2n+1):hover i, .icon_box:hover p{
  color:#fff;
}
.icon_box:nth-child(2n+1) i{
  color:#333333;
}
.icon_box:hover{
  background:#00BD9C;
  color:#fff;
  cursor:pointer;
  border-radius:4px;
}
.icon_box:nth-child(2n+1):hover{
  background:#333333;
}

.icon_box i,
#about .priorty .about-post,
.contact_address .address,
#about .priorty .about-post a,
.contact_address .address .icon,
#about .priorty .about-post a > img{
  display:inline-block;
}

.icon_box h4{ font-size:1.250rem;}

#about .priorty .about-post,
.contact_address .address{
  margin-top:15px;
  overflow: hidden;
}
#about .priorty .about-post a,
.contact_address .address .icon{
  background:#333333; 
  float: left;
  height: 60px;
  width: 64px;
  text-align: center;
  font-size:35px;
  line-height:50px;
}
.contact_address .address.second .icon{
  background:#00BD9C;
}
#about .priorty .about-post h4, .contact_address .address h4{
  margin:10px 0 0 80px;
}
#about .priorty .about-post p, .contact_address .address p{
  display: block;
  margin: 0 0 0 80px;
}

/** Commpany History **/
#history{}
#history .history_wrap{
  overflow:hidden;
}
#history .history_wrap h3{
  margin-bottom:10px;
}
#history .history_wrap p{ font-size:14px;}
#history .history_wrap h3 > span{
  color:#00BD9C;
}
#history .history_wrap .col-md-7{
  padding-left:0;
}

#tours{} 
.tour_media{
  background:#fff;
  overflow:hidden;
  margin-bottom:15px;
}
.tour_media .tour_body, .tour_media .tour_feature{
  display:table-cell;
}
.tour_media .tour_body{
  padding:20px 10px 10px 20px;
}
.tour_media .tour_feature{
  vertical-align: middle;
}


/* ----- ABout US ----- */



/* ----- Fun Facts ----- */
#facts{}
.number-counters{}
.number-counters .counters-item{
  margin:30px 0;
  text-align:center;
}
.number-counters .counters-item i{
  color:#333333;
  display: block;
  font-size:50px;
  margin-bottom:10px;
}
.number-counters .counters-item strong {
  display: block;
  font-size: 3rem;
  line-height: normal;
  margin-bottom: 15px;
}
.number-counters .counters-item p{
  font-size:1.125rem;
}
#facts .fact-image{
  width:100%;
}

#counter .number-counters .counters-item {
  margin-bottom: 0;
}
#counter .number-counters .counters-item i {
  color: #00BD9C;
  display: block;
}
/* ----- Fun Facts ends ----- */



/* ----- Paralax  ----- */
#parallax{
  background:url(../images/parallax2.jpg) no-repeat;
  padding:10% 0;
}
.page_header{
  background:url(../images/page-tittle.jpg) no-repeat;
}
#counter{
  background:url(../images/counter.jpg) no-repeat;
}
#experts , #parallax, .page_header, #counter{
  background-size:cover;
  width:100%;
  background-attachment:fixed;
  background-position:center center;
}
#parallax, #experts, #experts p, #counter, #counter p{
  color:#fff;
}
#parallax h1 {
  font-weight: 200;
}
#parallax h2 {
  font-size: 1.65rem;
  font-weight: 200;
}
/* ----- Paralax  ----- */



/* ----- Pricings ----- */
.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.pricing .pricing_item{
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem;
  border-top: 3px solid #00BD9C;
  margin-top:0;
  text-align:left;
  
  display: -webkit-flex;
  display:-moz-display;
  display:-o-display;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -o-align-items: stretch;
  -ms-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  
}
.pricing.three .pricing_item, .pricing .pricing_item{
  -webkit-flex: 0 1 330px;
  -moz-flex: 0 1 330px;
  -ms-flex: 0 1 330px;
  -o-flex: 0 1 330px;
  flex: 0 1 330px;
}
.pricing.four .pricing_item{
  -webkit-flex: 0 1 240px;
  -moz-flex: 0 1 240px;
  -ms-flex: 0 1 240px;
  -o-flex: 0 1 240px;
  flex: 0 1 240px
}
.pricing.two .pricing_item{
  -webkit-flex: 0 1 420px;
  -moz-flex: 0 1 420px;
  -ms-flex: 0 1 420px;
  -o-flex: 0 1 420px;
  flex: 0 1 420px
}


.pricing_item.active:hover, .pricing_item:hover{
  border-color:#333333;
}
.pricing_item.active{
  border-color:#333333;
}
.pricing_item h3{
  margin: 0 0 1rem;
}
.pricing_item .pricing_price{
  font-size: 2rem;
  padding: 0.5rem 0 0.75rem;
  border-top:1px solid rgba(139, 144, 157, 0.18);
}
.pricing_item .pricing_price, .pricing_item .pricing_sentence{
  color:#5b5b5b;
}
.pricing_item .pricing_currency{
  font-size: 0.5rem;
  vertical-align: super;
}
.pricing_item .pricing_sentence{
  padding-bottom:0.5rem;
  border-bottom:1px solid rgba(139, 144, 157, 0.18);
}
.pricing_list {
  font-size:14px;
  padding:25px 0; 
  color: #5b5b5b;
}
 .pricing_list li{
  margin-bottom:8px;
}
 .pricing_list li:before{
  content:'\f00c';
  font-family:'FontAwesome';
  display: inline-block;
   margin-right:10px;
   vertical-align: middle;
  color:#00BD9C;
}
.pricing_item a{
  width:100%;
}
.pricing_item .btn_border{
  border-color:#00BD9C;
}
/* ----- Pricings ends ----- */


/* ----- experts ----- */
.detail_course{ background:#f2f2f2; padding:20px 15px;}
.detail_course .info_label {
  color:#5b5b5b;
  display: inline-block;
  margin-right: 20px;
}
.detail_course .icony{
  height:32px; width:32px;
  border-radius:50%;
  background:#00BD9C;
  color:#fff;
  display:inline-block;
  float:left; line-height:32px;
  font-size:18px; text-align:center;
}
.detail_course p, .detail_course h5{ margin-left:42px;}
.detail_course p{ font-size:0.813rem; margin-bottom:0;}
.detail_course h5{ font-size:0.875rem; font-weight:bold;}
.detail_course .info_label:last-child{
  margin-right:0;
}
.detail_course .info_label:last-child p{
  margin-left:0;
}
.widget .media{
  border-bottom:1px solid #d5d5d5;
  padding-bottom:20px; margin-bottom:20px;
}
.widget .media h5{ font-weight:bold; font-size:0.875rem; text-transform:uppercase;}
.widget .media .btn-primary{
  font-size:12px;
  padding:5px 10px;
  font-weight:bold;
  line-height:1;
  text-transform:uppercase;
  background:#333333;
}
.name{ font-size:0.813rem; display:block;}
.widget .media .btn-primary, .widget .media form{ display:inline-block;} 
.logged{ color:#333333;}
.logged:hover, .logged:focus{ color:#00BD9C;
}
#course_all .course h3{
  font-size:1.4rem;
}
.course:hover .btn_common.yellow{
  border-color:#333333;
}
.course:hover .btn_common.yellow:after{
  opacity:1;
  height:101%;
}
/* ----- experts ----- */



/* ----- Gallery ----- */
.cbp-l-filters{
  text-align:right;
}
.cbp-l-filters .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters .cbp-filter-item:hover, .cbp-l-filters .cbp-filter-item:focus{
  color:#00BD9C;
  background:transparent;
}
.cbp-filter-item.cbp-filter-item-active{
  cursor:default;
}
.cbp-l-filters .cbp-filter-item{
  color:#5b5b5b;
  font-weight:bold;
  font-size:0.875rem;
  border:none; overflow:hidden !important;
  padding:0;
  margin:0 8px 10px 8px;
  display:inline-block;
  cursor:pointer;
}
.cbp-l-filters .cbp-filter-item:before{
  color:#333333;
  content: attr(data-hover);
  left:0; top:0;
  max-width: 0;
  overflow: hidden;
  position: absolute;
  
  -moz-transition:max-width 0.5s ease 0s;
  -ms-transition:max-width 0.5s ease 0s;
  -webkit-transition:max-width 0.5s ease 0s;
  -o-transition:max-width 0.5s ease 0s;
  transition:max-width 0.5s ease 0s;
}
.cbp-l-filters .cbp-filter-item:hover::before, 
.cbp-l-filters .cbp-filter-item:focus::before{
  max-width: 100%;
}

.overlay{
  background-color: rgba(15, 15, 15, 0.7);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  position: absolute;
  opacity:0;
  z-index: 99;
  height:100%; 
  width:100%;
  left:0; top:0;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
.cbp-item:hover .overlay, 
.shopping_box:hover .overlay,
#expert_slider .item:hover .overlay{
  opacity:1;
}
.cbp-item{ position:relative;}
.centered{
  position:absolute;
  left:50%; top:50%;
  padding:5px;
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
.overlay .opens{
  height:70px; width:70px; 
  border-radius:100%;
  display:inline-block;
  background:#00BD9C;
  color:#fff; font-size:28px;
  text-align:center;
  line-height:72px;
  -moz-transform:rotate(50deg) scale(1.5);
  -ms-transform:rotate(50deg) scale(1.5);
  -o-transform:rotate(50deg) scale(1.5);
  -webkit-transform:rotate(50deg) scale(1.5);
  transform:rotate(50deg) scale(1.5);
}
.cbp-item:hover .overlay .opens{
  -moz-transform:rotate(0) scale(1);
  -ms-transform:rotate(0) scale(1);
  -o-transform:rotate(0) scale(1);
  -webkit-transform:rotate(0) scale(1);
  transform:rotate(0) scale(1);
}
/* ----- Gallery ends ----- */





/**------ Page Header -------**/
.page_header .page-content{
  position:relative;
}
.page_header .page-content h1{
  font-size:2.625rem;
}
.page_header .page-content h1, .page_header .page-content p{
  color:#fff;
}
.page_header .page-content .page_nav {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 0;
    padding: 18px 40px 5px 29px;
    display: inline-block;
    margin-top: 45px;
    color: #7f7f7f;
    font-size: 0.875rem;
    float: right;
}
.page_header .page-content .page_nav a{
  display:inline-block;
  margin:0 10px;
  color:#0b0b0b;
}
.page_header .page-content .page_nav span i{
  margin-right:5px;
}
/**-------Page Header ends------**/


/**-------Events------**/
.events:hover h4 a, .news_box:hover h4 a, 
.course:hover h3 > a,
#expert_slider .item:hover h3 a{ 
   color:#333333;
}
/**------- Events ends------**/



/* --------------------- FAQ's --------------------- */
.faq_content .items > li > a{
  background:#fff;
  color: #0f0f0f;
  display: block;
  margin-bottom: 10px;
  padding:15px 10px 15px 55px;
  position:relative;
  border:1px solid #d5d5d5;
}
.faq_content .items > li > a:hover, .faq_content .items > li > a.expanded{
  background:#333333;
  color:#fff;
}
.faq_content .items > li > a:after{
  background: #fff;
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 100%;
  left: 0;
  line-height: 30px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width:40px;
  border-right:1px solid #d5d5d5;
}
.faq_content .items > li > a.expanded:after, .faq_content .items > li > a:hover::after{
  background:#00BD9C;
  border-color:#00BD9C;
}
.faq_content .sub-items {
  display: none;
  padding:20px 15px;
  border:1px solid #d5d5d5;
  border-top:none;
  margin-bottom:10px;
}
.faq_content .sub-items p{ margin:0; }
faq_content .tab_drawer_heading:after{
  content: "\f107";
  display: inline-block;
  right:20px;
  position:absolute;
  font-family:'FontAwesome';
}
.faq_content .items > li > a.expanded{
  margin-bottom:0;
}
.faq_content .items > li > a.expanded:after
.faq_content .tab_drawer_heading.d_active:after{
  content: "\f106";
}
/* --------------------- FAQ's --------------------- */




/* --------------- BLOG ---------------  */
#blog .blog_item, #blog .blog_share{
  border-bottom:1px solid #cccccc;
}
#blog .blog_item:last-child{
  border-bottom:none;
}




#blog .blog_newest{
  border:1px solid #cccccc;
  padding:5px;
}
#blog .blog_newest .post_img{
  height:65px;
  width:65px;
  display: table-cell;
  vertical-align:middle;
}
#blog .blog_newest .link{
  font-size:0.875rem;
  display: block;
}
#blog .blog_newest .post_title {
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  margin-top: 5px;
}
#blog .blog_newest .post_title:hover{
  color:#00BD9C;
}
#blog .blog_newest .text{
  display: table-cell;
  padding:0 10px;

}

.blog-reply {
  padding-bottom:25px;
  position: relative;
  border-bottom:1px solid #d1d1d1;
}
.blog-reply h4, .blog-reply .reply{
  text-transform:uppercase;
}
.blog-reply span{
  font-size:12px;
  color:#767676;
}
.blog-reply .reply{
  color:#00BD9C;
  font-size:0.813rem;
}
.media-left, .media > .pull-left {
  padding-right: 10px;
}
/*Form Used on many pages*/
form.findus{}
form.findus > .row{
  margin-left:-5px;
  margin-right:-5px;
}
form.findus  .col-md-4, form.findus .col-sn-4, form.findus  .col-md-12, 
form.findus  .col-md-6, form.findus .col-sm-6,
form.findus  .col-md-3, form.findus  .col-sm-3{
  padding-left:5px;
  padding-right:5px;
}
form.findus .form-control{
  height: 48px;
  width: 100%;
}
form.findus .form-group{
  width:100%;
  
}
form.findus .form-control, form.findus textarea{
  padding: 12px 15px;
  margin-bottom:10px;
  font-size:14px;
  border:1px solid #d1d1d1;
}
form.findus textarea{
  width:100%;
  min-height:210px;
}
/* --------------- BLOG ---------------  */



  


/* ------- 404 ------ */
#error{}  
#error .error{
  position:relative;
}
#error .error h1{
  position:relative;
  color:#ebebeb;
  font-size:9.375rem;
}
#error .error h2{
  font-size: 3.125rem;
  left:50%; top:50%;
  position:absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* ------- 404 ------ */




/* --------------- testimonialS --------------- */
.testimonial_wrap{}
.testimonial_wrap .testimonial_text{
  padding:20px 16px;
  position:relative;
  background:#333333;
}
.testimonial_wrap .testimonial_text p{ color:#fff; font-size:0.938rem; }
.testimonial_wrap .testimonial_text::after {
  border-right: 30px solid transparent;
  border-top: 25px solid #333333;
  bottom: -25px;
  content: "";
  height: 0;
  left:18px;
  position: absolute;
  width: 0;
}
.testimonial_wrap .testimonial_text > .quote{
  width:auto;
  margin-bottom:15px;
}
.testimonial_wrap .testimonial_pic{
  margin-top: 30px;
  width: 100%;
}
.testimonial_wrap .testimonial_pic > img{ 
  width:60px;
  float:left;
  margin-right:10px;
}
.testimonial_wrap .testimonial_text > .quote, .testimonial_wrap .testimonial_pic,
.testimonial_wrap .testimonial_pic > img{
  display:inline-block;
}
.testimonial_wrap .testimonial_pic span{
  display:block;
}
.testimonial_wrap .testimonial_pic span.color{
  margin-top:9px;
  font-weight:500;
}
.testimonial_wrap .testimonial_pic span.post_img{
  color:#646464;
  font-size:0.875rem;
}
/* --------------- TestimonialS ends --------------- */



/* --------------- CONTACT US --------------- */
#contact{}  
#contact .contact_img{}
#contact .contact_img > img{
  display:block;
  width:100%;
}
#contact .contact_img .caption-number{
  background:rgba(255,182,0,0.9);
   padding:15px;
}
#contact .contact_img .caption_link, #contact .contact_img .caption-number {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  color:#fff;
}
.contact_address .address .icon{
  line-height: 60px;
  color:#fff;
}

#contact .contact_address{}
.contact_address .address p > a:hover, .contact_address .address p > a:focus{
  color:#00BD9C;

}

/*Map*/
#map{
  display: block;
  width: 100%;
  height:400px;
}
.overlay_map{
  display:block;
  text-align:center;
  color:#333333;
  font-size:3.750rem;
  line-height:80px;
  opacity:1;
  background:transparent;
  padding:0 4px;
}


/* --------------- FOOTER ---------------*/
footer{
  background:#222325;
}

.footer_panel .divider-left{
  background:#fff;
}

footer, footer p{
  color:#fff;
}

footer .footer_panel h3{
  display:block;
}

footer .footer_panel .footer_logo {
  display: inline-block;
}

.footer_logo > img {
  width: 100px;
}

footer .footer_panel p.address, .services p.address{
  margin-left:25px;
  margin-bottom:15px;
}

footer .footer_panel p.address a:hover{
  color:#00BD9C;
}

footer .footer_panel p.address > i, .services p.address > i {
  display: inline-block;
  font-size: 15px;
  margin-left: -25px;
  vertical-align: middle;
  width: 25px;
}

.copyright{
  width:100%;
  padding:20px 0;
} 
.copyright p{
  margin:0;
  font-size:0.875rem;
  line-height:normal;
}
.copyright p > a:hover{
   color:#333333;
  
}


@media screen and (max-width:1024px){
#history .history_wrap .col-md-7{
  padding-left: 15px;
}
.pricing .pricing_item{ margin:1rem .5rem;}
.pricing.three .pricing_item, .pricing .pricing_item{
  -webkit-flex: 0 1 220px;
  -o-flex: 0 1 220px;
  -moz-flex: 0 1 220px;
  -ms-flex: 0 1 220px;
  flex: 0 1 220px;
}

.pricing.two .pricing_item {
  -webkit-flex: 0 1 320px;
  -o-flex: 0 1 320px;
  -moz-flex: 0 1 320px;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
}

}
@media screen and (max-width:1024px){
nav.navbar.bootsnav.navbar-fixed .logo-display,
nav.navbar.bootsnav.navbar-fixed .navbar-brand > .logo-display,
.logo-display{
  display: none !important;
}
}
@media screen and (max-width:992px){
  html{
    font-size:15px;
  }
  h2 {font-size: 1.625rem;}
  h3 {font-size: 1.25rem;}
  h4 {font-size: 1rem;}
  p,  #text_rotator p{ font-size:0.875rem;}
  
nav.navbar.bootsnav .navbar-toggle{
  float: right;
  margin:12px 0 0 15px;
  background-color:transparent !important;
}
nav.navbar.bootsnav .navbar-brand{
  float:left !important;
}
nav.navbar.bootsnav .navbar-brand, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand {
  padding:10px 0;
}
nav.navbar.bootsnav .navbar-brand img, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand img.logo-scrolled, .navbar-brand img{
  width:80px;
}
nav.navbar.bootsnav.pushy .navbar-toggle{ display:none;}
nav.navbar.bootsnav .navbar-header{
  padding-left:15px;
  padding-right:15px;
}
nav.navbar.bootsnav ul.nav > li{ margin:0;}
nav.navbar.bootsnav ul.nav > li > a{
  padding:10px 0 !important;
}
nav.bootsnav .megamenu-content .title{
  font-size: 14px;
}
.search_btn{ margin-top:17px !important;}
.bootsnav.no-background .search_btn > span{
    border-color: #0f0f0f;
    color: #0f0f0f;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{
  background:#0f0f0f;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{ background:#000;}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars,
nav.navbar.bootsnav #menu_bars{
  margin-top: 8px;
}
.pushmenu .push_nav > li > a{
  font-size:0.875rem;
  padding:0;
}
#counter .number-counters .counters-item{
  margin-bottom: 30px;
}
#experts , #parallax, .page_header, #counter{
  background-position:center center !important;
}
.detail_course .info_label:last-child{
  display:block;
  margin-top:20px;
}
.single_post{
  font-size:12px;
}

}

@media screen and (max-width:767px){
html{
  font-size:14px;
  margin: 0 !important;
      padding: 0 !important;
}
.tparrows, .topbar, .search_btn,
.owl-threme .owl-controls .owl-buttons div,
#review_slider:before, #review_slider:after{
  display: none;
}
.pushmenu .push-logo{
  padding: 0;
}
.pushmenu .push-logo > img{
  width: 80px;
}
.rotate_caption{
   padding:5% 1%;
}
.icon_box{
  margin-left:15px;
  margin-right:15px;
}
#about .about_box{ 
  top: 0;
  margin-left: -15px;
  margin-right: -15px;
}
#about .about_box:nth-child(3){
  margin-bottom:50px;
}
.about_box.active{
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
   transform: translateY(0);
}
#about .priorty{
  margin-bottom:20px;
}
#history .history_wrap h3{
  margin-top: 10px;
}
/* Fun Facts */
.number-counters .counters-item{
  text-align: center;
}
.number-counters .counters-item.last{
  margin-bottom:0;
}
.number-counters .counters-item i{
  display:block;
}
/* Paralax */
#parallax h1{
  margin-bottom: 10px;
}
.pricing.two .pricing_item, .pricing.four .pricing_item, .pricing.three .pricing_item{
  -webkit-flex: 0 1 320px;
  -moz-flex: 0 1 320px;
  -ms-flex: 0 1 320px;
  -o-flex: 0 1 320px;
  flex: 0 1 320px
}
 #shop .shop_info{ margin-top:20px;}
.shop_tab .tabs li{ font-size:12px;}
#map{ height:290px;}
.footer_logo.bottom25 > img {
  width: 90px;
}

nav.navbar.bootsnav .navbar-toggle{
    display: none;
}

}

@media screen and (max-width:590px){
  html{
    font-size:13px;
  }
  #text_rotator p{ display:none;}
  #text_rotator a{ padding:8px 18px; font-size:12px;}
}
@media screen and (max-width:540px){
.tour_media .tour_body, .tour_media .tour_feature{
  display: block;
  padding:20px 15px;
}
.tour_media .tour_feature > img{ width:100%; display:block;}
.faq_content .items > li > a{ font-size:12px;}
}

@media screen and (max-width:480px){
  
   
.page_header .page-content .page_nav{
  width: 100%;
}
.scrollToTop{
  right:15px;
}
.rating_progress .progress{ width:180px;}
.copyright .col-md-12.text-center{
  text-align:left;
} 
  

}

@media screen and (max-width:479px){
  body{
    font-size:80%;
  }
  .profile .p_pic, .profile .profile_text{
     display: block;
  }
  .profile .p_pic{ margin-bottom:15px;}
  .detail_course .info_label{
    margin:0 20px 15px 0;
    display:block;
}
.apply_coupon .coupon.text-right{ text-align:left;}
.apply_coupon .coupon .btn_common { margin-bottom:15px;}
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
  background: transparent;
}

.comment-notes{
  display: none !important;
}

.comment-reply-link{
    font-size: 15px;
    color: #282828;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 2px;  
}

.comment-reply-link:hover{
    color: #00BD9C; 
}

.bcrumbs {
  float: left;
}

.bcrumbs li{
  display: inline-block;
  display: inline;
}

.bcrumbs li i {
    margin-right: 5px;
}

.blog-one img{
  height: 315px;
}

.blog-two img{
  height: 381px;
}

.blog-three img{
  height: 240px;
}

.wp-caption-text {

}
.screen-reader-text{
    font-size: .9rem;
}

.gallery-caption{
    font-size: .9rem;
}

.bypostauthor{
    font-size: .9rem;
}

.alignright {
    float: right;
    margin: 5px 0 5px 10px;
    max-width: 100%;
}

.alignleft{
    float: left;
    margin: 5px 10px 5px 0;
    max-width: 100%;
}

.aligncenter{
    max-width: 100%;
    text-align: center;
    margin:10px 0;
}

.alignnone {
    float: none;
    max-width: 100%;
    height: auto;
    margin:10px 0;
}

.alignnone img{
  float: none;
  max-width: 100%;
  height: auto;
}

.comment p strong{
  color:#0f0f0f;  
}

/* =============================
   1. SIDEBAR DEFAULT WIDGETS
================================ */

.sidebar .widget_archive h3{
  font-size: 1.500rem;  
}

.sidebar .widget_archive ul{
  padding-left: 0px;
}

.sidebar .widget_archive li{
  padding-bottom: 10px;
  font-size: .9rem; 
  width: 100%;  
}

.sidebar .widget_archive li a{
    display: table; 
  width: 100%;
}

.sidebar .widget_archive li a:hover{
    color:#333333;
}

.sidebar .widget_archive li a p{
  color:#0f0f0f;  
}

.sidebar .widget_archive li a p:hover{
  color:#333333;  
}

.sidebar .widget_archive li a p{
  float: left;  
}

.sidebar .widget_archive li a span {
    float: right;
}

.sidebar .widget_archive select{
  -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    border-color: rgb(169, 169, 169);
    width: 100%;  
    font-size: .9rem;  
    height: 46px;   
}

/********** End Archive ***********/

.sidebar .widget_calendar table{
  width: 100%;
}

.sidebar .widget_calendar th {
    line-height: 2.6923076923;
    padding: 0 !important;
    text-align: center;
    border-width: 0 1px 1px 0;
    font-weight: 700;
    border: 1px solid #d1d1d1;
    font-size: .9rem;     
}

.sidebar .widget_calendar td{
  line-height: 2.6923076923;
  padding: 0 !important;
  border-width: 0 1px 1px 0; 
  border: 1px solid #d1d1d1;
  text-align: center; 
    font-size: .9rem;   
}

.sidebar .widget_calendar caption{
  color: #00BD9C;
}

.sidebar .widget_calendar a:hover{
  color: #333333;
}

.sidebar .widget_calendar #today{
  color: #333333;
}

/********** End Calendar ***********/

.sidebar .widget_categories ul{
  padding-left: 0px;
}

.sidebar .widget_categories ul li{
  padding-bottom: 10px;
    font-size: .9rem; 
    width: 100%;
    cursor: pointer;  
}

.sidebar .widget_categories select{
  -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    border-color: rgb(169, 169, 169);
    width: 100%;  
    font-size: .9rem;  
    height: 46px;
}

.sidebar .widget_categories ul li a:hover{
  color: #333333; 
}

.sidebar .widget_categories span {
    float: right;
}

.sidebar .widget_categories span:hover {
  color: #333333; 
}

.sidebar .widget_categories ul ul li{
  padding-bottom: 5px;
    font-size: .9rem;   
}

.sidebar .widget_categories ul ul{
  margin-left: 10px;
    font-size: .9rem;   
}

/********** End Categories ***********/

.sidebar .widget_pages li{
  padding-bottom: 10px;
  font-size: .9rem; 
}

.sidebar .widget_pages li a:hover{
  color: #333333;
}

.sidebar .widget_pages ul ul {
  margin-left: 10px;
  font-size: .9rem; 
}

.sidebar .widget_text img{
  width: 100%;
}

.sidebar .widget_text select{
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    border-color: rgb(169, 169, 169);
    width: 100%;  
    font-size: .9rem;  
    height: 46px;

}

.sidebar .widget_meta li{
    font-size: .9rem; 
}

.sidebar .widget_meta a:hover{
    color:#333333; 
}

.sidebar .widget_recent_comments li{
    font-size: .9rem; 
}

.sidebar .widget_recent_comments a:hover{
    color:#333333;
}

.sidebar .widget_recent_entries li{
    font-size: .9rem; 
}

.sidebar .widget_rss li{
    font-size: .9rem; 
}

.sidebar .widget_rss a:hover{
    color:#333333;
}

.sidebar .widget_tag_cloud .tagcloud a{
    border: 1px solid #bababa;
    color: #5b5b5b;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 1;
    padding: 6px 10px;
    background: #fff; 
}

.sidebar .widget_tag_cloud .tagcloud a:hover{
    background: #333333;
    border-color: #333333;
    color: #fff;  
}

.sidebar .widget_nav_menu li{
    font-size: .9rem;   
}

.sidebar .widget_nav_menu li a:hover{
  color: #333333;
}

.sidebar .widget_product_categories .product-categories  li{
  padding-bottom: 10px;
  font-size: .9rem;
  width: 100%;
}

.sidebar .widget_product_categories .product-categories  li a{
  display: table;
  width: 100%;
}

.sidebar .widget_product_categories ul ul{
  margin-left: 10px;
  font-size: .9rem; 
}

/* =============================
   1. FOOTER DEFAULT WIDGETS
================================ */
footer .widget_product_categories .product-categories  li{
  padding-bottom: 10px;
  font-size: .9rem;
  width: 100%;
}

footer .widget_product_categories .product-categories  li a{
  display: table;
  width: 100%;
}

footer .widget_product_categories ul ul{
  margin-left: 10px;
  font-size: .9rem; 
}


footer .widget_archive h3{
  font-size: 1.500rem;  
}

footer .widget_archive li{
  padding-bottom: 10px;
  font-size: .9rem; 
}

footer .widget_archive li a{
  font-size: 14px;
  width: 100%;
  display: table;
}

footer .widget_archive li a:hover{
  color: #fff;  
}

footer .widget_archive li p{
  float: left;
}

footer .widget_archive span.divider-left{
  float: none;
}

footer .widget_archive span{
  float: right;
}

footer .widget_archive select{
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  border-color: rgb(169, 169, 169);
  width: 100%;  
  font-size: .9rem; 
  height: 46px;   
}

footer .widget_archive li p:hover{
  color: #23527c;
}

footer .widget_archive li a:hover{
  color:#23527c;
}

footer .widget_calendar th{
  border: 1px solid #fff;
}

footer .widget_calendar table{
  width: 100%;
}

footer .widget_calendar th {
    line-height: 2.6923076923;
    padding: 0 !important;
    text-align: center;
    border-width: 0 1px 1px 0;
    font-weight: 700;
    border: 1px solid #d1d1d1;
    font-size: .9rem;     
}

footer .widget_calendar td{
  line-height: 2.6923076923;
  padding: 0 !important;
  border-width: 0 1px 1px 0; 
  border: 1px solid #d1d1d1;
  text-align: center; 
    font-size: .9rem;   
}

footer .widget_calendar caption{
  color: #fff;
}

footer .widget_categories ul li{
  padding-bottom: 10px;
    font-size: .9rem;   
}

footer .widget_categories ul ul li{
  padding-bottom: 5px;
    font-size: .9rem;   
}

footer .widget_categories ul ul{
  margin-left: 10px;
    font-size: .9rem;   
}

footer .widget_categories select{
    font-size: .9rem;   
}

footer .widget_categories span{
  float: right;
}

footer .widget_categories span:first-child{
  float: none;
}

footer .widget_categories select{
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    border-color: rgb(169, 169, 169);
    width: 100%;  
    font-size: .9rem; 
    height: 46px;   
}

footer .widget_pages li{
  padding-bottom: 10px;
  font-size: .9rem; 
}

footer .widget_pages ul ul {
  margin-left: 10px;
  font-size: .9rem; 
}

footer .widget_search .btn_common{
  background: #00BD9C;
}

footer .widget_text img{
  width: 100%;
}

footer .widget_text select{
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    border-color: rgb(169, 169, 169);
    width: 100%;  
    font-size: .9rem; 
    height: 46px;       
}

footer .widget_meta li{
    font-size: .9rem; 
}

footer .widget_recent_comments li{
    font-size: .9rem; 
}

footer .widget_recent_entries li{
    font-size: .9rem; 
}

footer .widget_rss li{
    font-size: .9rem; 
}

footer .widget_tag_cloud .tagcloud a{
    border: 1px solid #bababa;
    color: #5b5b5b;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 1;
    padding: 6px 10px;
    background: #fff; 
}

footer .widget_tag_cloud .tagcloud a:hover{
    background: #333333;
    border-color: #333333;
    color: #fff;  
}

footer .widget_nav_menu li{
    font-size: .9rem;   
}

.footer_panel caption{
    color: #fff;  
}

blockquote {
  padding: 25px 15px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292929;
  border: none;
  margin: 15px 0;;
  background: #F9F9F9;
}

blockquote p {
    padding:0;
    color: #292929;
    display:block;
    text-align:left;
    position:relative; 
    margin: 0 0 0 10px !important;    
}

blockquote p:before, blockquote p:after {
  content: '”';
  color: #666;
  font-weight: bold;
  vertical-align: top;
  line-height: 0.8;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;  
}

.bizness_block_wrap blockquote p:after {
    content: '';
    color: #666;
    font-weight: bold;
    vertical-align: top;
    line-height: 0.8;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote p:before {
  content: '“';
  position:absolute;
  left: -16px;
  top: -3px;
}
.bizness_block_wrap blockquote p:before {
    content: '“';
    position: absolute;
    top: -15px;
    left: -66px;
    font-size: 120px;
    color: #00BD9C;
}
.bizness_block_wrap blockquote p {
    padding: 0;
    color: #292929;
    display: block;
    text-align: left;
    position: relative;
    margin: 0 0 0 52px !important;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    line-height: 30px;
}
.bizness_block_wrap blockquote {
    background: transparent;
}
p.intro-cont-bizz {
    margin: 20px 0;
}
p.box-content.customstylesub {
    margin: 12px 0 0px 0;
}

.blog-img-cheight img{
  height: 315px;
}

iframe{
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-template-page-blog-three iframe{
  width: 301px;
  height: 169px;
}

.blog iframe{

}

@media only screen and (min-width: 250px) and (max-width: 767px) {

  .blog iframe{
    width: 100%;
    min-height: 218px;
    max-height: 100%;   
  }

  .page-template-page-blog-two iframe{
    width: 100%;
    min-height: 218px;
    max-height: 100%;
  }

  .blog-two img{
    height: auto;
  }

}

/* =============================
 OTHERS 
================================ */


.single-post article h1{
  font-size:3.000rem;
  margin: 10px 0; 
    word-wrap: break-word;  
}

.single-post article h2{
  font-size:2.000rem;
  margin: 10px 0;
    word-wrap: break-word;    
}

.single-post article h3{
  font-size:1.500rem;
  margin: 10px 0; 
  word-wrap: break-word;
}

.single-post article h4{
  font-size:1.125rem;
  margin: 10px 0;
  word-wrap: break-word;  
}

.single-post article h5{
  font-size:14px;
  margin: 1px 0 10px;
  word-wrap: break-word;  
}

.single-post article h6{
  font-size:12px;
  margin: 10px 0; 
  word-wrap: break-word;
}

.single-post th, td, .archive th, td, .search-results th, td{
  border: 1px solid rgba(128, 128, 128, 1);  
  padding: 7px 10px;   
}

.single-post dl, .archive dl, .search-results dl{margin: 10px 0;}
.single-post dt, .archive dl, .search-results dl{font-weight: bold; padding: 10px 0 5px 0;}
.single-post dd, .archive dd, .search-results dd{padding-left: 30px; line-height: 25px;}
.single-post dd a, .archive dd a, .search-results dd a {color: #272727;}
.single-post dd a:hover, .archive dd a:hover, .search-results dd a:hover,{color: #119EE7;}

.single-post .sidebar li, 
.page-template-page-blog-two 
.sidebar li, .page-template-page-blog-one 
.sidebar li, .archive .sidebar li, 
.search-results .sidebar li{
  list-style-type: none;
  margin-right: 3px;
}

.single-post article ul, 
.page-template-default #blog ul, 
.page-template-page-blog-three article ul, 
.page-template-page-blog-two article ul, 
.page-template-page-blog-one article ul, 
.archive article ul, 
.search-results article ul,

.single-post article ol, 
.page-template-default #blog ol, 
.page-template-page-blog-three article ol, 
.page-template-page-blog-two article ol, 
.page-template-page-blog-one article ol, 
.archive article ol, 
.search-results article ol{
  padding-left: 0px; 
  margin: 5px 0;
}

.single-post article p{
  display: inline-block;
  word-wrap: break-word;  
}

.single-post .comment ol, .single-post .comment ul{
    padding-left: 0;
    margin: 5px 0;
}

.single-post .comment ol li ol, .single-post .comment ul li ul{
    padding-left: 20px;
    margin: 5px 0;
}

.single-post .comment p{
  display: block;
} 

.page-template-default #blog li, 
.single-post article li, 
.page-template-page-blog-three article li, 
.page-template-page-blog-two article li, 
.page-template-page-blog-one article li, 
.archive article li, 
.search-results article li{
  line-height: 25px;
}

.page-template-default #blog ul li, 
.single-post article ul li, 
.page-template-page-blog-three article ul li, 
.page-template-page-blog-two article ul li, 
.page-template-page-blog-one article ul li, 
.archive article ul li, 
.search-results article ul li{
  list-style-type: none;
}

.page-template-default #blog ul li ul, 
.single-post article ul li ul, 
.page-template-page-blog-three article ul li ul, 
.page-template-page-blog-two article ul li ul, 
.page-template-page-blog-one article ul li ul, 
.archive article ul li ul, 
.search-results article ul li ul{
  list-style-type: none;
}

.page-template-default #blog ul li ul li, 
.single-post article ul li ul li, 
.page-template-page-blog-three article ul li ul li, 
.page-template-page-blog-two article ul li ul li, 
.page-template-page-blog-one article ul li ul li, 
.archive article ul li ul li, 
.search-results article ul li ul li{
  list-style-type: none;
}
.page-template-default #blog ul li ol li, 
.single-post article ul li ol li, 
.page-template-page-blog-three article ul li ol li, 
.page-template-page-blog-two article ul li ol li, 
.page-template-page-blog-one article ul li ol li, 
.archive article ul li ol li, 
.search-results article ul li ol li{
  list-style-type: none;
}

.page-template-default #blog ul li ol li ul li, 
.single-post article ul li ol li ul li, 
.page-template-page-blog-three article ul li ol li ul li, 
.page-template-page-blog-two article ul li ol li ul li, 
.page-template-page-blog-one article ul li ol li ul li, 
.archive article ul li ol li ul li, 
.search-results article ul li ol li ul li{
  list-style-type: none;
}

.page-template-default #blog ol li ul li ol li, 
.single-post article ol li ul li ol li, 
.page-template-page-blog-three article ol li ul li ol li, 
.page-template-page-blog-two article ol li ul li ol li, 
.page-template-page-blog-one article ol li ul li ol li, 
.archive article ol li ul li ol li, 
.search-results article ol li ul li ol li{
  list-style-type: none;
}

.page-template-default #blog ol, 
.single-post article ol, 
.page-template-page-blog-three article ol, 
.page-template-page-blog-two article ol, 
.page-template-page-blog-one article ol, 
.archive article ol, 
.search-results article ol{
  list-style-type: decimal !important;
}

.page-template-default #blog ol li, 
.single-post article ol li, 
.page-template-page-blog-three article ol li, 
.page-template-page-blog-two article ol li, 
.page-template-page-blog-one article ol li, 
.archive article ol li, 
.search-results article ol li{
  list-style-type: decimal !important;
}

.page-template-default footer ul li, 
.single-post footer ul li, 
.page-template-page-blog-two footer ul li, 
.page-template-page-blog-one footer ul li, 
.archive footer ul li, 
.search-results footer ul li {
  list-style-type: none !important;
}

.single-post article.blog_item ul.comment{
  padding-left: 0px;
}

/******** Page Template Default ***********/

.page-template-default #blog h1{
  font-size:3.000rem;
  margin: 10px 0; 
  word-wrap: break-word;  
}

.page-template-default #blog h2{
  font-size:2.000rem;
  margin: 10px 0;
  word-wrap: break-word;    
}

.page-template-default #blog h3{
  font-size:1.500rem;
  margin: 10px 0; 
  word-wrap: break-word;
}

.page-template-default #blog h4{
  font-size:1.125rem;
  margin: 10px 0;
  word-wrap: break-word;  
}

.page-template-default #blog h5{
  font-size:14px;
  margin: 10px 0;
  word-wrap: break-word;  
}

.page-template-default #blog h6{
  font-size:12px;
  margin: 10px 0; 
  word-wrap: break-word;
}

.page-template-default #blog th, td, 
.page-template-default .archive th, td, 
.page-template-default .search-results th, td {
  border: 1px solid rgba(128, 128, 128, 0.3);  
  padding: 7px 10px;   
}

.page-template-default #blog dl{margin: 10px 0;}
.page-template-default #blog dt, page-template-default #blog dl{font-weight: bold; padding: 10px 0 5px 0;}
.page-template-default #blog dd {padding-left: 30px; line-height: 25px;}
.page-template-default #blog dd a {color: #272727;}
.page-template-default #blog dd a:hover{color: #119EE7;}

.page-template-default #blog ul,  
.page-template-default #blog ol{
  padding-left: 25px; 
  margin: 5px 0;
}

#review_slider img.client_pic{
  width: 85px;
  height: 86px;
}

.content_wrap .recent_post_thumb{
  height: 240px;
  width: 100%;
  overflow: hidden;
}

.recent_post_thumb .image{
  height: 240px;
  width: 100%;
}

.recent_post_thumb .image{
  position:relative;
}

.post_tags{
  margin-top: 40px;
  width: 100%;
}

/* Theme Unit test */
.next-artical {
  width: 100%;
  display: inline-table;
}

.blog_item input[type="submit"] {
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    background: #00BD9C;
    border: 1px solid #00BD9C;
    color: #fff;
    letter-spacing: 1px;
}

.blog_item input[type="password"] {
    padding: 10px 15px;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    border: 1px solid #00BD9C;
    color: #000;
    letter-spacing: 3px;
}

#navbar-menu .dropdown span.dropdown-toggle {
    right: -23px;
    float: right;
    position: absolute;
    top: 18px;
    font-size: 16px;
    padding: 2px 8px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    border-radius: 3px;
    background: transparent;
}
.wrap-sticky .bootsnav .dropdown span.dropdown-toggle {
    color: #0f0f0f !important;
}

cbp-thumb-gallery img {
  width:  218px;
  height: 170px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid rgba(170, 170, 170, 0.3215686274509804) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

.woocommerce .cart-empty{
    text-align: center;
    line-height: 50px;
}

.woocommerce .return-to-shop {
    padding: 12px 18px;
    font-weight: 600;
    transform: inherit;
    top: inherit;
    left: inherit;
}

.page-template-default #blog ul li {
    list-style-type: none !important;
    padding: 8px  !important;
    border: 1px solid rgba(221, 221, 221, 0.4)  !important;
    margin-bottom: 8px  !important;
}

.woocommerce-MyAccount-content p {
    font-size: 16px;
    line-height: 27px;
    color: rgba(91, 91, 91, 0.8);
}

.lost_reset_password p {
    font-size: 16px;
}

.woocommerce-form-row input.woocommerce-Button.button {
    background: #00BD9C;
    color: #fff;
    font-weight: 400;
    padding: 14px 22px;
}

.woocommerce-form-row input.woocommerce-Button.button:hover {
    background: #333333;
}  

/* Main Menu */
#navbar-menu .dropdown.megamenu-fw span.dropdown-toggle {
    right: auto;
    float: right;
    margin-left: 42px;
}

section.page_header.padding-top {
    background-size: cover !important;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu {
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu {
  top: 2px;
}

#menu-all-pages .dropdown .dropdown-menu .menu-item span {
  right: 0;
  top: 6px;
  color: #333;
}

.comments_paginate a.next{
  margin-left: 10px;
}

.comments_paginate a.next{
  margin-right: 10px;
}

.cbp2 img{
  width: 218px;
  height: 170px;
}
.feature-box-content {
    margin-left: 105px;
}
.feature-box .feature-box-media {
    float: left;
}

.page-template-default #blog h3 {
    font-size: 18px;
}

.intro-text i.fa.fa-check-square {
    color: #00BD9C;
}

.page-template-default .intro-text {
    padding-bottom: 5px;
}

.feature-box-media img { width: 72px; height: 72px; background: #fff; padding: 14px; border-radius: 50%; }

a:focus, a:hover{
  color: #00BD9C;
}

.extra-large{
  font-size: 26px;
  margin-bottom: 10px;
  color: #00BD9C;  
}

.blog-wrap {
  
}

.blog-img {
    overflow: hidden;
    position: relative;
}

.blog-img img {
    transform: scale(1);
    transition: all 0.5s ease 0s;
    width: 100%;
}

.blog-content {
    padding: 30px 20px 40px;
}

.blog-meta {
  margin-bottom: 10px;
}

.blog-meta ul li:first-child {
  margin-left: 0px;
}

.blog-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.blog-meta ul li a {
  color: #333;
  font-size: 13px;
}

.blog-meta ul li a:hover {
  color: #00BD9C;
}

.blog-meta ul li a i {
  margin-right: 5px;
}

.blog-content h3 a {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
  color: #0f0f0f;
}

.blog-content h3 a:hover{
  color: #00BD9C; 
}

.blog-content .readmore {
  background: #fff none repeat scroll 0 0;
  color: #222;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration:none;
  font-weight: normal;
}

.blog-content .readmore:hover {
  background: #00BD9C none repeat scroll 0 0;
  color: #fff;
  border-radius: 4px;
}

.call-to-action-text a.btn:hover{
  background: #333;
  border-color: #333;
 
}